<!DOCTYPE html>
<html>
	<head>
		<title>下载 Caddy</title>
		{{import "/old/includes/head.html"}}
		{{template "head"}}
		<link rel="stylesheet" href="/old/resources/css/download.css{{template "cacheBust"}}">
		<script src="/old/resources/js/jquery-4.0.0-rc.1.min.js"></script>
		<script src="/old/resources/js/sweetalert.min.js"></script>
		<script src="/old/resources/js/download.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div id="logo-container">
					<a href="/"><img src="/old/resources/images/caddy-logo.svg" id="logo" alt="Caddy"></a>
					<div id="zerossl-project">一个 <a href="https://zerossl.com"><img src="/old/resources/images/zerossl-logo.svg" id="zerossl-logo"></a> 项目</div>
				</div>
				{{include "/old/includes/header-nav.html"}}
			</header>

			<!-- <div class="notice">
				⚠️ <b>由于 <a href="https://github.com/golang/go/issues/56494">多个</a> <a href="https://github.com/golang/go/issues/53905">问题</a> 在 <code>go</code> 命令中尚未解决，我们知晓一些下载可能会挂起或失败。</b> 同时，您可以从 <b><a href="https://github.com/caddyserver/caddy/releases">GitHub 上的最新发布</a></b> 下载 Caddy，或使用 <b><a href="https://github.com/caddyserver/xcaddy">xcaddy</a></b> 构建自定义版本。（请记住，此下载页面不提供任何保证或服务级别协议。）抱歉给您带来不便。
			</div> -->

			<div class="download-bar">
				<div>
					<div>
						<b>平台：</b>
						<select size="1" id="platform" selected="linux-amd64">
							<option value="dragonfly-amd64">Dragonfly amd64</option>
							<option value="freebsd-amd64">FreeBSD amd64</option>
							<option value="freebsd-arm-6">FreeBSD arm 6</option>
							<option value="freebsd-arm-7">FreeBSD arm 7</option>
							<option value="freebsd-arm64">FreeBSD arm64</option>
							<option value="linux-amd64">Linux amd64</option>
							<option value="linux-arm-5">Linux arm 5</option>
							<option value="linux-arm-6">Linux arm 6</option>
							<option value="linux-arm-7">Linux arm 7</option>
							<option value="linux-arm64">Linux arm64</option>
							<option value="linux-mips">Linux mips</option>
							<option value="linux-mips64">Linux mips64</option>
							<option value="linux-mips64le">Linux mips64le</option>
							<option value="linux-mipsle">Linux mipsle</option>
							<option value="linux-ppc64">Linux ppc64</option>
							<option value="linux-ppc64le">Linux ppc64le</option>
							<option value="linux-s390x">Linux s390x</option>
							<option value="linux-loong64">Linux loong64</option>
							<option value="darwin-amd64">macOS amd64 (Intel)</option>
							<option value="darwin-arm64">macOS arm64 (Apple)</option>
							<option value="openbsd-amd64">OpenBSD amd64</option>
							<option value="openbsd-arm-6">OpenBSD arm 6</option>
							<option value="openbsd-arm-7">OpenBSD arm 7</option>
							<option value="openbsd-arm64">OpenBSD arm64</option>
							<option value="windows-amd64">Windows amd64</option>
							<option value="windows-arm-6">Windows arm 6</option>
							<option value="windows-arm-7">Windows arm 7</option>
							<option value="windows-arm64">Windows arm64</option>
						</select>
					</div>
				</div>
				<div>
					<div>
						<b>标准功能：</b> <span title="所有官方 Caddy 构建都包含标准插件">&#9745;&#65039;</span>
					</div>
				</div>
				<div>
					<div>
						<b>额外功能：</b> <span id="package-count">0</span>
					</div>
				</div>
				<div class="download-button-container">
					<a href="/api/download" class="blue button" id="download">下载</a>
					或
					<a id="railway-link" href="https://railway.com/deploy/caddy?referralCode=YOPtw9&utm_medium=integration&utm_source=template&utm_campaign=generic" target="_blank">
						<img src="https://railway.com/button.svg">
					</a>
				</div>
			</div>

			<input type="search" id="filter" placeholder="筛选包和模块...">

			<div class="text-center">
				<span class="warning">⚠️ 仅选择您需要的且可信的插件</span>
			</div>
			<div class="text-center" id="darwin-warning">
				<span class="warning">⚠️ 对下载的二进制文件运行以下命令：
					<code>xattr -d com.apple.quarantine </code>
				</span>
			</div>

			<div id="optional-packages">
				<!-- 由 JavaScript 填充 -->
			</div>
		</div>

		{{include "/old/includes/footer.html"}}
	</body>
</html>
