<!DOCTYPE html>
<html>
	<head>
		<title>Caddy Web 服务器的所有功能</title>
		{{import "/includes/head.html"}}
		{{template "head" .}}
		<link rel="stylesheet" href="/resources/css/marketing.css{{template "cacheBust"}}">
		<link rel="stylesheet" href="/resources/css/features.css{{template "cacheBust"}}">
	</head>
	<body>
		<div class="hero">
			{{include "/includes/header.html" "dark-header"}}
			
			<div class="wrapper">
				<div class="hero-content">
					<h1>
						所有功能
						<div class="subheading">
							你最好坐下来看这个。
						</div>
					</h1>
				</div>
			</div>
		</div>

		<main>

			<section class="diagonal up feature">
				<div class="wrapper">
					<div class="legend">
						<span class="nonstandard">此颜色</span>的功能由可选插件提供。
					</div>

					<h2>
						概览
					</h2>
					<p>
						Caddy 本质上是一个配置管理系统，可以运行各种应用程序，如 HTTP 服务器、TLS 证书管理器、PKI 设施等。它可以通过称为配置模块的插件进行扩展。
					</p>
					<p>
						Caddy 拥有灵活而强大的 HTTP 反向代理、在线配置 API 以及健壮、可用于生产环境的静态文件服务器，并且默认通过自动 TLS 证书为所有站点提供 HTTPS。
					</p>

					<h3 class="green">总体程序技术规格</h3>

					<div class="feature-list">
						<div class="feature-row">
							<h4>编程语言</h4>
							<div class="benefits">
								语言选择对于 Web 服务器至关重要。语言影响开发速度和难度、性能、测试、部署复杂性、生态系统可靠性、依赖项、工具、错误处理和可靠性等多个方面。Go 在所有方面都具有强大优势，可实现快速开发、稳健的生产性能和高可扩展性。
							</div>
							<div class="detail">
								Go
							</div>
						</div>
						<div class="feature-row">
							<h4>内存安全保证</h4>
							<div class="benefits">
								大多数服务器（NGINX、Apache、HAProxy 等）及其依赖项都是用 C 语言编写的，容易受到灾难性内存安全漏洞（如缓冲区溢出）的影响，例如 Heartbleed。像 Caddy 这样的 Go 程序对一整类安全漏洞具有免疫力。
							</div>
							<div class="detail">
								强
							</div>
						</div>
						<div class="feature-row">
							<h4>构建产物</h4>
							<div class="benefits">
								Caddy 直接编译为原生 CPU 指令。不需要解释器；许多指令都针对架构进行了优化。静态二进制文件也更安全，因为没有动态链接。
							</div>
							<div class="detail">
								平台原生静态二进制
							</div>
						</div>
						<div class="feature-row">
							<h4>运行时依赖</h4>
							<div class="benefits">
								Caddy 是静态编译的。动态链接的应用程序在生产环境中容易崩溃，并且可能更不安全，因为共享的可执行资源从系统的各个位置加载。通常，Caddy 二进制文件不一定需要外部库——甚至不需要 libc。
							</div>
							<div class="detail">
								无
							</div>
						</div>
						<div class="feature-row">
							<h4>编译时间</h4>
							<div class="benefits">
								在消费级硬件上，标准 Caddy 构建只需几秒钟。这对于快速迭代、插件开发和低成本的部署至关重要。其他用 C/C++ 编写的服务器可能需要几分钟。
							</div>
							<div class="detail">
								~30 秒冷编译，<br>~2 秒热编译
							</div>
						</div>
						<div class="feature-row">
							<h4>部署环境</h4>
							<div class="benefits">
								Caddy 几乎可以部署到任何地方，并且有多种部署方式。通常，升级就像替换二进制文件一样简单。
							</div>
							<ul class="detail">
								<li>命令行界面</li>
								<li>系统服务</li>
								<li>容器</li>
								<li>Kubernetes</li>
								<li>嵌入式</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>供应链与发布</h4>
							<div class="benefits">
								Go 模块验证我们依赖项的完整性，我们对发布工件进行加密签名，以便你知道什么可以信任。
							</div>
							<div class="detail">
								加密验证
							</div>
						</div>
						<div class="feature-row">
							<h4>操作系统</h4>
							<div class="benefits">
								Caddy 在 Go 能编译的所有主要平台上运行。
							</div>
							<ul class="detail">
								<li>Linux</li>
								<li>Windows</li>
								<li>macOS</li>
								<li>FreeBSD</li>
								<li>OpenBSD</li>
								<li>NetBSD</li>
								<li>Android</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>微架构</h4>
							<div class="benefits">
								在众多 CPU 平台上以原生代码运行 Caddy。
							</div>
							<ul class="detail">
								<li>x86 (i386, i686)</li>
								<li>x86-64 (AMD64)</li>
								<li>ARM</li>
								<li>ARM 64 (AArch64)</li>
								<li>MIPS</li>
								<li>MIPS64[LE]</li>
								<li>PPC64[LE]</li>
								<li>RISCV64</li>
								<li>S390X</li>
								<li>Apple Silicon（Apple ARM；M1、M2 等）</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>正则表达式引擎</h4>
							<div class="benefits">
								Caddy 的正则表达式语言基于 Thompson NFA，并且相比其他 Web 服务器使用的 PCRE 有众多性能改进。它保证运行时开销线性增长而非指数增长。这对于评估不可信输入非常理想。
								<p>
									<a href="https://github.com/google/re2/wiki/Syntax">RE2 语法</a>
								</p>
							</div>
							<div class="detail">
								RE2
							</div>
						</div>
						<div class="feature-row">
							<h4>并发模型</h4>
							<div class="benefits">
								Go 的运行时而优化调度 CPU 时间，比操作系统更智能，使用称为 goroutine 的轻量级用户空间线程。Caddy 利用所有 CPU 核心，每秒轻松处理数十万个请求。
							</div>
							<div class="detail">
								Goroutines (epoll + kqueue)
							</div>
						</div>
						<div class="feature-row">
							<h4>插件模型</h4>
							<div class="benefits">
								Caddy 可以通过编译时插件进行扩展，这些插件编译为本机代码，不会因部署或系统升级而损坏。没有 IPC 或 RPC 调用，Caddy 扩展以本机代码运行同样高效。
							</div>
							<div class="detail">
								编译时静态
							</div>
						</div>
					</div>

					<h3 class="purple">高级能力</h3>

					<div class="feature-list">
						<div class="feature-row">
							<h4>配置变更</h4>
							<div class="benefits">
								通过零停机优雅重载，Caddy 的配置可以在运行时更改。它是可编程/可脚本化的，用于强大的自动化。
							</div>
							<ul class="detail">
								<li>RESTful HTTP API</li>
								<li>配置文件</li>
								<li>安全远程访问</li>
								<!-- <li>乐观并发</li> -->
							</ul>
						</div>
						<div class="feature-row">
							<h4>应用模块</h4>
							<div class="benefits">
								顶层配置结构称为应用模块或 Caddy 应用。它们提供了 Caddy 的大部分功能。任何人都可以编写应用模块，Caddy 自带几个内置标准应用。
							</div>
							<ul class="detail">
								<li>HTTP</li>
								<li>TLS</li>
								<li>PKI</li>
								<li>事件</li>
								<li class="nonstandard">原始 TCP 与 UDP</li>
								<li class="nonstandard">SSH</li>
								<li class="nonstandard">PHP</li>
								<li class="nonstandard">动态 DNS</li>
								<li class="nonstandard">安全</li>
								<li class="nonstandard">进程监督</li>
								<li class="nonstandard">性能分析</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>日志</h4>
							<div class="benefits">
								所有 Caddy 模块都使用 Caddy 的集中式日志记录设施。Caddy 的日志可以配置格式、详细程度、输出等。
							</div>
							<ul class="detail">
								<li>分级</li>
								<li>结构化</li>
								<li>高效率，零分配</li>
								<li>可扩展</li>
								<li>删除、过滤、编辑和审查字段</li>
								<li>IP 掩码</li>
								<li>哈希值</li>
								<li>正则表达式替换</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>存储</h4>
							<div class="benefits">
								资产和状态（包括证书和 OCSP 装订）存储在可配置的存储后端中。实际上，配置了相同存储的多个 Caddy 实例被视为集群的一部分，并且可以自动协调。
							</div>
							<ul class="detail">
								<li>文件系统</li>
								<li>嵌入式（内存中）</li>
								<li class="nonstandard">Postgres</li>
								<li class="nonstandard">Redis</li>
								<li class="nonstandard">Vault</li>
								<li class="nonstandard">Consul</li>
							</ul>
						</div>
					</div>
				</div>
			</section>






			<section class="diagonal down gray feature">
				<div class="wrapper">
					<h2>
						命令行界面
					</h2>
					<p>
						Caddy 的 CLI 不仅有用——而且有帮助。虽然大多数服务器 CLI 仅仅运行进程并重载配置，但 Caddy 的 CLI 付出了额外努力，使管理现代 Web 服务器变得轻而易举。
					</p>
					<p>
						插件可以注册自己的子命令来扩展 Caddy 的 CLI。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>命令帮助</h4>
							<div class="benefits">
								如果你拼错命令或标志、遗漏参数或不知道子命令，将自动打印帮助文本。你也可以使用 <code>caddy help</code> 或 <code>-h</code> 访问整体命令帮助或子命令帮助。
							</div>
							<div class="detail">
								内置，自动（也可以生成 <code>man</code> 页面）
							</div>
						</div>
						<div class="feature-row">
							<h4>管理 API 包装器</h4>
							<div class="benefits">
								几个子命令使用管理 API 端点与 CLI 配合，帮助你执行常见任务，如从文件加载配置或停止服务器。
							</div>
							<ul class="detail">
								<li>将配置改编为 JSON</li>
								<li>启动服务器，可选配置</li>
								<li>优雅重载配置</li>
								<li>停止服务器</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>二进制工具</h4>
							<div class="benefits">
								由于自定义构建 Caddy 非常常见，有几个命令可以帮助你管理和获取有关构建的详细信息。
							</div>
							<ul class="detail">
								<li>详细的构建元数据</li>
								<li>列出已安装的配置模块</li>
								<li>列出依赖项</li>
								<li>添加和删除插件包</li>
								<li>打印版本</li>
								<li>升级 Caddy 二进制文件</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>配置工具</h4>
							<div class="benefits">
								如果你选择使用配置文件，Caddy 的 CLI 可帮助你管理它们。
							</div>
							<ul class="detail">
								<li>格式化 Caddyfile</li>
								<li>验证配置</li>
								<li>列出依赖项</li>
								<li>添加和删除插件包</li>
								<li>打印版本</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>模块工具</h4>
							<div class="benefits">
								模块可以注册自己的子命令，以提供无需配置文档即可使用的常见功能。
							</div>
							<ul class="detail">
								<li>静态文件服务器</li>
								<li>HTTP 反向代理</li>
								<li>静态 HTTP 响应（可模板化）</li>
								<li>存储导入/导出（备份/还原）</li>
								<li>为 HTTP 基本认证哈希密码</li>
								<li>导出文件浏览模板</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>集成工具</h4>
							<div class="benefits">
								几个子命令可帮助你集成 Caddy 到你的 Shell 环境。
							</div>
							<ul class="detail">
								<li>生成 Shell 补全脚本</li>
								<li>打印环境</li>
								<li>生成 <code>man</code> 页面</li>
								<li>将 Caddy 管理的根 CA 安装到信任存储中</li>
								<li>从信任存储中移除 Caddy 管理的根 CA</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>系统信号</h4>
							<div class="benefits">
								Caddy 支持常见的操作系统信号/中断，每个信号的行为略有不同。
								<p>
									<a href="/docs/command-line#signals">信号文档</a>
								</p>
							</div>
							<ul class="detail">
								<li>INT（优雅停止）</li>
								<li>USR1（重载配置，如果通过配置文件加载）</li>
								<li>QUIT</li>
								<li>TERM</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>退出代码</h4>
							<div class="benefits">
								无论 Caddy 成功退出还是出现错误，<a href="/docs/command-line#exit-codes">退出代码</a>可以为你的进程监控器或脚本提供如何处理该情况的提示。
							</div>
						</div>
					</div>
					
				</div>
			</section>


			<section class="feature">
				<div class="wrapper">
					<h2>
						配置
					</h2>
					<p>
						我们设计 Caddy 的方式使其配置不仅提供功能访问，而且其本身就是一个功能。
					</p>
					<p>
						不再争论哪种配置文件格式最好：使用你想要的任何格式！Caddy 的<a href="/docs/config-adapters">配置适配器</a>允许你使用你喜欢的任何配置格式。
					</p>
					<div class="feature-list">
						<div class="feature-row">
							<h4>原生配置格式</h4>
							<div class="benefits">
								Caddy 的原生配置格式无处不在：几乎所有操作系统、平台、编程语言和 API 生态系统都有相应的工具。几乎所有其他格式都可以转换为 JSON，JSON 在人类可读性和可编程性之间取得平衡。你会发现它是你 Web 服务器的强大盟友。
							</div>
							<div class="detail">
								JSON
							</div>
						</div>
						<div class="feature-row">
							<h4>配置适配器</h4>
							<div class="benefits">
								你始终可以用另一种格式编写配置，借助配置适配器，Caddy 会隐式地将其转换为 JSON，以便你可以使用自己喜欢的方式。
							</div>
							<ul class="detail">
								<li>Caddyfile</li>
								<li class="nonstandard">JSON 5</li>
								<li class="nonstandard">JSON-C</li>
								<li class="nonstandard">NGINX Conf</li>
								<li class="nonstandard">YAML</li>
								<li class="nonstandard">CUE</li>
								<li class="nonstandard">TOML</li>
								<li class="nonstandard">HCL</li>
								<li class="nonstandard">Dhall</li>
								<li class="nonstandard">MySQL</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>人性化配置</h4>
							<div class="benefits">
								Caddyfile 是大多数用户最喜欢的手动编写 Web 服务器配置的方式，因为其语法宽容，同时设计结构使之易于阅读和编写。它会自动转换为 JSON。
							</div>
							<div class="detail">
								Caddyfile
							</div>
						</div>
						<div class="feature-row">
							<h4>导出</h4>
							<div class="benefits">
								Caddy 的管理 API 允许你通过简单的 GET 请求在运行时以 JSON 格式访问当前配置。
							</div>
						</div>
						<div class="feature-row">
							<h4>配置 API</h4>
							<div class="benefits">
								Caddy 通过 API 端点接收配置，该端点可以接收 JSON 或任何其他拥有配置适配器的格式。
							</div>
						</div>
						<div class="feature-row">
							<h4>配置文件</h4>
							<div class="benefits">
								如果你更喜欢使用普通的 Shell 命令管理配置，Caddy 的 CLI 为你封装了 API 端点。
							</div>
						</div>
					</div>
					
				</div>
			</section>




			<section class="diagonal up dark feature">
				<div class="wrapper">
					<h2 id="automatic-https">
						自动 HTTPS
					</h2>
					<p>
						我们的旗舰功能，由 <a href="https://github.com/caddyserver/certmagic">CertMagic</a> 驱动。Caddy 是第一个也是唯一一个默认启用 HTTPS 的主要服务器，并自动为所有站点获取和续期证书。
					</p>
					<p>
						完全原生、集成的自动 HTTPS 远远优于任何需要外部工具或 cron 任务的解决方案。Caddy 的证书维护是业界最佳的，因为它比任何其他解决方案更健壮、更可靠、更具可扩展性。Caddy 简化了你的基础设施，而不是使其复杂化。
					</p>
					<p>
						当然，你可以尝试使用 Certbot 和 cron 任务部署 100,000 个站点——但如果它自己不会崩溃，Web 服务器也会崩溃。只有 Caddy 被设计为在水平和垂直方向上大规模扩展 TLS 证书。
					</p>
					<p>
						再也不用手动生成 CSR。再也不用点击电子邮件中的链接下载证书。再也不用（错误地）配置 Web 服务器来使用它们。再也不用错过在证书到期前每隔几个月逐一续期的提醒。你甚至不需要考虑证书或 TLS。
					</p>
					<p>
						这真是自动魔法。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>合规性</h4>
							<div class="benefits">
								Caddy 的 TLS 默认配置是安全的，无需额外配置，并通过各种行业的合规测试。
							</div>
							<ul class="detail">
								<li>符合 PCI DSS</li>
								<li>符合 NIST</li>
								<li>符合 HIPAA</li>
								<li>行业最佳实践</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>按需 TLS</h4>
							<div class="benefits">
								服务不属于你的域名？或者有很多域名？没问题！只需几行配置，按需 TLS 在 TLS 握手期间动态获取证书，将你的部署扩展到数万个证书。此功能是 Caddy 独有的。
							</div>
						</div>
						<div class="feature-row">
							<h4>证书颁发机构</h4>
							<div class="benefits">
								以兼容的方式从任何颁发机构获取证书。证书颁发机构接收 CSR 并返回证书资源。大多数站点只需使用 ACME 获取证书。但 Caddy 也可以为内部使用、测试或开发颁发自己的自签名证书。Caddy 的颁发者来源是可插拔的，因此 Caddy 可以从任何颁发者模块自动获取证书。
							</div>
							<ul class="detail">
								<li>ACME</li>
								<li>内部（自签名）</li>
								<li class="nonstandard">Microsoft Active Directory 证书服务</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>证书管理器</h4>
							<div class="benefits">
								与颁发者不同（颁发者接收 CSR 并返回 Caddy 必须管理的证书），证书管理器是可以按需返回始终有效证书的模块；也就是说，它们为我们管理证书。Caddy 可以通过这种方式与 HTTP 端点或 Tailscale 接口获取证书，其他方式通过插件提供。
							</div>
							<ul class="detail">
								<li>HTTP</li>
								<li>Tailscale</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>集群协调</h4>
							<div class="benefits">
								在所有配置了相同存储的 Caddy 实例中，Caddy 自动协调并在集群中共享资源。这包括证书操作和证书本身、OCSP 装订以及会话票据密钥。这为客户端减少了延迟，并提供了更高的可扩展性。
							</div>
							<ul class="detail">
								<li>获取和续期证书</li>
								<li>加载现有证书</li>
								<li>OCSP 装订</li>
								<li>会话票据密钥 (STEKs)</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>重定向 HTTP 到 HTTPS</h4>
							<div class="benefits">
								默认情况下，HTTP 请求将被重定向到 HTTPS。
							</div>
							<div class="detail">
								自动重定向
							</div>
						</div>
						<div class="feature-row">
							<h4>OCSP</h4>
							<div class="benefits">
								OCSP 指示证书何时被吊销。服务器应将 OCSP 响应装订到证书上，以向客户端提供更好的安全性和隐私。Caddy 是第一个也是唯一一个默认自动执行此操作的服务器。它还缓存响应以应对 OCSP 响应者故障，并在集群中共享。如果需要，可以禁用它。
							</div>
							<div class="detail">
								自动 OCSP 装订并缓存
							</div>
						</div>
						<div class="feature-row">
							<h4>必须装订</h4>
							<div class="benefits">
								Caddy 可以获取强制 OCSP 装订的证书（如果 CA 支持）。这可能在吊销情况下提供更高的安全性。
							</div>
						</div>
						<div class="feature-row">
							<h4>吊销处理</h4>
							<div class="benefits">
								被吊销的证书会自动替换。由于 Caddy 装订并刷新 OCSP 响应，它可以检测到你的证书是否已被吊销，如果是，则将其替换为新的证书。
							</div>
						</div>
						<div class="feature-row">
							<h4>会话票据加固</h4>
							<div class="benefits">
								如果攻击者窃取了加密会话票据的密钥，TLS 连接就毫无意义。Caddy 已被学术界引用为唯一定期轮换这些密钥以限制攻击窗口的服务器。
							</div>
							<div class="detail">
								自动 STEK 轮换
							</div>
						</div>
						<div class="feature-row">
							<h4>密钥类型</h4>
							<div class="benefits">
								你可以自定义证书使用的密钥类型。
							</div>
							<ul class="detail">
								<li>Ed25519</li>
								<li>ECDSA P256</li>
								<li>ECDSA P384</li>
								<li>RSA 2048</li>
								<li>RSA 4096</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>证书生命周期</h4>
							<div class="benefits">
								<p>大多数 ACME 客户端假设 90 天证书，或不期望短于 7 天的证书。Caddy 可以成功管理生命周期为小时和分钟级别的证书。</p>
								<p>Caddy 没有硬编码续期前的特定年龄，而是根据每个证书的生命周期计算相对年龄，称为续期窗口比率。默认情况下，Caddy 在证书可用生命周期的 2/3 时续期。此比率适用于大多数有效期，但可以调整。</p>
							</div>
							<div class="detail">
								任何生命周期
							</div>
						</div>
						<div class="feature-row">
							<h4>智能错误处理</h4>
							<div class="benefits">
								如果 Caddy 无法获取证书，会记录错误，并且 Caddy 将指数退避并重试，直到成功（通常最多 30 天，但可能更长）。Caddy 尽一切合理努力保持你的证书续期。
							</div>
							<div class="detail">
								指数退避
							</div>
						</div>
						<div class="feature-row">
							<h4>内置限流</h4>
							<div class="benefits">
								Caddy 遵循最佳实践，不会向 CA 发送大量证书请求；相反，每个订单都经过精心计时，以避免压倒 CA 服务器。
							</div>
						</div>
					</div>

					<h3 class="purple" id="automatic-https-acme">ACME</h3>

					<p>
						Caddy 的 ACME 客户端是同类中最好的，比当今任何其他集成 ACME 客户端具有更高的可靠性和更多的生产经验。Caddy 在 Let's Encrypt 公开可用之前就已经在使用 ACME，并且 Caddy 可兼容任何支持 ACME 的 CA。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>兼容性</h4>
							<div class="benefits">
								一些 ACME 客户端仅与 Let's Encrypt 测试过。Caddy 保证与所有支持 ACME 的 CA 兼容。
							</div>
							<div class="detail">
								所有符合 RFC 8555 的证书颁发机构，例如：
								<ul>
									<li>Let's Encrypt</li>
									<li>ZeroSSL</li>
									<li>Google Trust Services</li>
									<li>BuyPass</li>
									<li>DigiCert</li>
									<li>GlobalSign</li>
									<li>SSL.com</li>
									<li>Smallstep</li>
								</ul>
							</div>
						</div>
						<div class="feature-row">
							<h4>测试端点</h4>
							<div class="benefits">
								默认情况下，Caddy 在尝试获取证书失败后会回退到 CA 的测试或临时端点（如果有），以避免触发 CA 强制执行的生产速率限制。这也可以是你专门为验证 DNS 配置而设置的 ACME 服务器。
							</div>
							<div class="detail">
								Let's Encrypt（其他可配置）
							</div>
						</div>
						<div class="feature-row">
							<h4>外部账户绑定</h4>
							<div class="benefits">
								可选配置外部账户绑定 (EAB)，使 Caddy 能够与要求你拥有单独账户的 CA 一起工作。
							</div>
						</div>
						<div class="feature-row">
							<h4>挑战类型</h4>
							<div class="benefits">
								Caddy 支持所有主要的 ACME 挑战类型用于 Web PKI，并且可以通过扩展支持其他类型。
							</div>
							<ul class="detail">
								<li>HTTP-01</li>
								<li>TLS-ALPN-01</li>
								<li>DNS-01</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>替代挑战端口</h4>
							<div class="benefits">
								虽然某些 ACME 挑战必须使用标准端口 80 和 443，但 Caddy 支持在替代端口上监听，前提是你通过路由器转发它们。
							</div>
							<ul class="detail">
								<li>HTTP（默认 80）</li>
								<li>TLS-ALPN（默认 443）</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>智能挑战选择</h4>
							<div class="benefits">
								Caddy 会了解哪种挑战类型最可能成功，并优先尝试。例如，如果端口 80 被阻塞，它将学会优先使用不使用端口 80 的 TLS-ALPN 挑战。
							</div>
						</div>
						<div class="feature-row">
							<h4>DNS 挑战集成</h4>
							<div class="benefits">
								DNS 挑战是唯一不需要 CA 能够访问你的服务器的挑战。通过 <a href="https://github.com/libdns">libdns</a> 集成了数十个 DNS 提供商来解决 DNS 挑战。<b>此列表不完整；</b><a href="https://github.com/caddy-dns">查看 DNS 提供商完整列表</a>。
							</div>
							<ul class="detail">
								<li class="nonstandard">ACME-DNS</li>
								<li class="nonstandard">AliDNS</li>
								<li class="nonstandard">Cloudflare</li>
								<li class="nonstandard">DigitalOcean</li>
								<li class="nonstandard">DNSPod</li>
								<li class="nonstandard">DuckDNS</li>
								<li class="nonstandard">DynDNS</li>
								<li class="nonstandard">EasyDNS</li>
								<li class="nonstandard">Gandi</li>
								<li class="nonstandard">GoDaddy</li>
								<li class="nonstandard">Google Cloud DNS</li>
								<li class="nonstandard">Hetzner</li>
								<li class="nonstandard">Linode</li>
								<li class="nonstandard">Name.com</li>
								<li class="nonstandard">Namecheap</li>
								<li class="nonstandard">Namesilo</li>
								<li class="nonstandard">Netlify</li>
								<li class="nonstandard">OVH</li>
								<li class="nonstandard">Porkbun</li>
								<li class="nonstandard">PowerDNS</li>
								<li class="nonstandard">RFC 2136</li>
								<li class="nonstandard">Route 53</li>
								<li class="nonstandard">Scaleway</li>
								<li class="nonstandard">Vercel</li>
								<li class="nonstandard">Vultr</li>
								<li><a href="https://github.com/caddy-dns">查看全部...</a></li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>受信任的 CA 证书</h4>
							<div class="benefits">
								可选配置你信任的根证书，用于与所选 CA 交互；这对于内部 PKI 很有帮助，其中信任无需公共 CA 建立。
							</div>
						</div>
						<div class="feature-row">
							<h4>优先链</h4>
							<div class="benefits">
								当 CA 提供多个证书链时，Caddy 允许你自定义下载和使用的链。
							</div>
							<ul class="detail">
								<li>最小</li>
								<li>根的 CommonName</li>
								<li>任何证书的 CommonName</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>续期调度</h4>
							<div class="benefits">
								Caddy 选择保守的时间来续期证书，并且也会遵循 ACME CA 提供的 ACME 续期信息 (ARI)。
							</div>
							<ul class="detail">
								<li>内部</li>
								<li>ARI</li>
							</ul>
						</div>
					</div>

				</div>
			</section>





			<section class="diagonal down feature">
				<div class="wrapper">
					<h2>
						HTTP 服务器
					</h2>
					<p>
						Caddy 的 HTTP 服务器独一无二：强大、可扩展、高效且现代。
					</p>
					<div class="feature-list">
						<div class="feature-row">
							<h4>HTTP 版本</h4>
							<div class="benefits">
								Caddy 的 HTTP 服务器支持所有主要 HTTP 版本，默认启用（H2C 除外，它不安全但仍可用）。你可以精确自定义你想要服务的版本。
							</div>
							<ul class="detail">
								<li>HTTP/1.1</li>
								<li>HTTP/2</li>
								<li>基于明文 HTTP/2 (H2C)</li>
								<li>HTTP/3</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>HTTPS</h4>
							<div class="benefits">
								Caddy 的旗舰功能是自动且默认启用 HTTPS。你可以控制其工作方式或禁用某些方面：HTTP 重定向、证书管理、某些主机名等。
							</div>
							<div class="detail">
								自动
							</div>
						</div>
						<div class="feature-row">
							<h4>监听接口</h4>
							<div class="benefits">
								每个 HTTP 服务器可以绑定到一个或多个套接字和网络接口。对于端口，你可以指定特定的主机接口或仅指定端口以监听所有接口。还支持所有类型的 Unix 套接字。
							</div>
							<ul class="detail">
								<li>TCP</li>
								<li>UDP</li>
								<li>Unix 套接字</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>监听器包装器</h4>
							<div class="benefits">
								监听器可以在连接接受级别由模块包装。
							</div>
							<ul class="detail">
								<li>在 HTTPS 端口上重定向 HTTP</li>
								<li>PROXY 协议</li>
								<li class="nonstandard">Tailscale</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>超时</h4>
							<div class="benefits">
								设置超时是生产环境的重要防御措施，但必须仔细调整以容纳合法慢速客户端的大文件下载或上传。
							</div>
							<ul class="detail">
								<li>读取超时</li>
								<li>读取 HTTP 头部超时</li>
								<li>写入超时</li>
								<li>空闲超时</li>
								<li>TCP 保活间隔</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>全双工通信</h4>
							<div class="benefits">
								并非所有客户端都支持 HTTP/1 的并发读写，但可以为需要它的某些客户端和应用程序启用。
							</div>
							<ul class="detail">
								<li>HTTP/1 可配置</li>
								<li>HTTP/2 默认</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>错误处理</h4>
							<div class="benefits">
								Caddy 让你完全控制错误处理，以给客户端最佳/期望的体验。
							</div>
							<div class="detail">
								自定义错误路由
							</div>
						</div>
						<div class="feature-row">
							<h4>TLS 终止</h4>
							<div class="benefits">
								使用合理的默认值终止 TLS（原 SSL），并可自定义以对 TLS 握手进行细粒度控制。你可以根据各种因素（如 ServerName (SNI) 或远程 IP）为客户分配策略。
							</div>
							<ul class="detail">
								<li>TLS 1.2</li>
								<li>TLS 1.3</li>
								<li>客户端认证 (TLS 双向认证；mTLS)</li>
								<li>客户端认证模式：请求、要求、如果提供则验证、要求并验证</li>
								<li>密码套件</li>
								<li>椭圆曲线</li>
								<li>ALPN</li>
								<li>限制协议版本</li>
								<li>默认 SNI</li>
								<li>备用 SNI</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>跨站点安全</h4>
							<div class="benefits">
								Caddy 通常在同一个套接字上服务多个站点，因此 Caddy 自动启用保护措施，以确保如果任何站点启用了 TLS 客户端认证，你的站点是安全的。
							</div>
							<div class="detail">
								验证 TLS ServerName 和 HTTP Host 头部是否匹配
							</div>
						</div>
						<div class="feature-row">
							<h4>访问日志</h4>
							<div class="benefits">
								启用零分配、结构化的访问日志，以最终了解客户端请求和响应。使用 Caddy 内置的日志配置或第三方模块进行自定义。
							</div>
							<ul class="detail">
								<li>比通用日志格式 (CLF) 更有用</li>
								<li>请求头部（敏感字段除外）</li>
								<li>响应头部</li>
								<li>远程 IP</li>
								<li>延迟</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>可观测性</h4>
							<div class="benefits">
								你的 Web 服务器可以使用标准兼容的指标进行监控。
							</div>
							<div class="detail">
								Prometheus 指标、开放遥测
							</div>
						</div>
						<div class="feature-row">
							<h4>请求处理</h4>
							<div class="benefits">
								HTTP 服务器使用由你定义顺序的特定处理器组成的自定义路由来处理请求。可以定义单独的错误路由进行自定义错误处理。你在 HTTP 处理方面拥有高度的灵活性。有关可用的 HTTP 处理器模块，请参见下文。
							</div>
							<div class="detail">
								可组合的路由（以及单独的错误处理路由）
							</div>
						</div>
						<div class="feature-row">
							<h4>请求过滤器</h4>
							<div class="benefits">
								使用匹配器仅将处理器应用于特定请求，匹配器基于各种属性对请求进行分类。匹配器也用于过滤。它们是可扩展和可插拔的，因此你的路由可以有多么具体和自定义没有限制！某些匹配器支持正则表达式。所有匹配器都很快。并且匹配器可以组合成集合，以便使用 AND、OR 和 NOT 逻辑连接。
							</div>
							<ul class="detail">
								<li>主机</li>
								<li>路径</li>
								<li>方法</li>
								<li>头部</li>
								<li>协议</li>
								<li>远程 IP</li>
								<li>任意 CEL 表达式</li>
								<li>文件（存在性、大小、修改日期）</li>
								<li>HTTP 路由变量</li>
								<li>逻辑 NOT</li>
								<li class="nonstandard">地理位置</li>
								<li class="nonstandard">远程主机</li>
							</ul>
						</div>
					</div>

					<h3 class="blue">HTTP 处理器</h3>

					<p>
						处理器是可以组合在一起以精确处理传入请求的模块。处理器模块与 Caddy 的其他部分一样，是可扩展和可插拔的。在这里列出所有处理器实际上并不可行。
					</p>
					<p>
						在实践中，处理器与匹配器配对，匹配器基于各种属性（如路径、头部、查询字符串、方法等）过滤或分类请求。这允许你选择性地将任何这些处理器应用于某些请求。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>ACME 服务器</h4>
							<div class="benefits">
								Caddy 开箱即用，附带一个可用于生产环境的 ACME 服务器，非常适合你的内部 PKI。轻松自动化基础设施内的 mTLS 证书。由 <a href="https://smallstep.com">Smallstep</a> 库提供支持。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Authelia</h4>
							<div class="benefits">
								使用 Authelia 通过认证保护路由安全。
							</div>
						</div>
						<div class="feature-row">
							<h4>认证</h4>
							<div class="benefits">
								使用可扩展的认证模块对用户进行认证。由认证提供者扩展，如果用户无法通过任何配置的提供者认证，此处理器会返回错误。HTTP 基本认证是标准内置的，与其他服务器不同，设置基本认证时密码会被哈希处理（因为它本质上是一个密码数据库），从而增强安全性。
							</div>
							<ul class="detail">
								<li>HTTP 基本认证</li>
								<li class="nonstandard">JWT</li>
								<li class="nonstandard">Discord</li>
								<li class="nonstandard">表单</li>
								<li class="nonstandard">SAML</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">高级认证</h4>
							<div class="benefits">
								通过全套认证和授权功能，caddy-security 模块提供了多种强大的认证解决方案。
							</div>
							<ul class="detail nonstandard">
								<li>基于表单</li>
								<li>本地</li>
								<li>基本</li>
								<li>LDAP</li>
								<li>OpenID Connect</li>
								<li>OAuth 2</li>
								<li>SAML</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">缓存</h4>
							<div class="benefits">
								轻松启用缓存，服务更多客户端并提高性能。此缓存模块符合 RFC 7234，支持基于标签的缓存清除、分布式和本地存储、密钥生成调整等。支持多个后端！
							</div>
							<ul class="detail nonstandard">
								<li>Badger</li>
								<li>Etcd</li>
								<li>NutsDB</li>
								<li>Olric</li>
								<li>Redis</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>编码</h4>
							<div class="benefits">
								使用可插拔的编码模块即时压缩、编码或以其他方式转换 HTTP 响应。压缩响应就像一行配置一样简单，并且编码不会应用于已经压缩过或太小不值得压缩的响应。
							</div>
							<ul class="detail">
								<li>Gzip</li>
								<li>Zstandard (zstd)</li>
								<li class="nonstandard">Brotli</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>文件服务器</h4>
							<div class="benefits">
								一个强大、灵活且高效的静态文件服务器，下文将详细介绍。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Go 包 vanity 路径</h4>
							<div class="benefits">
								一个简单的处理器，为 Go 包实现 vanity 导入路径。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">gRPC-Web 桥接</h4>
							<div class="benefits">
								将 gRPC-Web 请求桥接/转换为后端应用的 gRPC。
							</div>
						</div>
						<div class="feature-row">
							<h4>头部操作</h4>
							<div class="benefits">
								修改 HTTP 请求和响应头部。添加、设置、删除和替换头部字段中的子字符串速度很快，但也支持正则表达式用于高级用途。响应头部操作可以延迟到响应开始写入时进行，甚至可以基于响应状态码或头部值设置条件。
							</div>
							<ul class="detail">
								<li>添加</li>
								<li>设置（覆盖）</li>
								<li>删除</li>
								<li>子字符串替换</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">图像过滤</h4>
							<div class="benefits">
								即时对图像进行调整。
							</div>
							<ul class="detail nonstandard">
								<li>裁剪</li>
								<li>适配</li>
								<li>翻转</li>
								<li>调整大小</li>
								<li>旋转</li>
								<li>锐化</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>映射</h4>
							<div class="benefits">
								基于输入值分配变量/占位符值；类似于查找表。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Mercure</h4>
							<div class="benefits">
								让你的 Caddy 实例成为 Mercure 中心：一种开放、简单、快速、可靠且省电的实时通信解决方案。
							</div>
						</div>
						<div class="feature-row">
							<h4>指标</h4>
							<div class="benefits">
								暴露一个 /metrics 端点，用于与 Prometheus 兼容的系统和其他监控工具配合使用。
							</div>
						</div>
						<div class="feature-row">
							<h4>HTTP/2 服务器推送</h4>
							<div class="benefits">
								使用 HTTP/2 时，在客户端请求之前主动推送资源。（浏览器可能已弃用此功能，但 Caddy 仍有一个有效的实现，在某些应用程序中有用。）
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">速率限制</h4>
							<div class="benefits">
								高级企业级速率限制器，使用环形缓冲区和滑动窗口算法实现，基于区域键大规模扩展。配置具有相同存储的 Caddy 实例集群，以在集群中分布速率限制。不像其他企业服务器那样需要内存限制。
							</div>
							<ul class="nonstandard">
								<li>本地或分布式</li>
								<li>多个区域</li>
								<li>缓冲池</li>
								<li>仅 1 个 goroutine</li>
								<li>可配置的 O(Kn) 内存管理</li>
								<li>重载后状态持久</li>
								<li>设置 Retry-After 头部</li>
								<li>可选抖动</li>
								<li>高度可编程</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>请求体控制</h4>
							<div class="benefits">
								通过拒绝过大的请求来限制请求体的大小。
							</div>
						</div>
						<div class="feature-row">
							<h4>反向代理</h4>
							<div class="benefits">
								Caddy 拥有一流反向代理，详见下文章节。
							</div>
						</div>
						<div class="feature-row">
							<h4>重写请求</h4>
							<div class="benefits">
								在继续处理请求之前，对请求进行内部更改。这对于接受需要更改以符合后续期望的请求很有用。可以更改请求的多个方面，如方法和 URI。
							</div>
							<ul class="detail">
								<li>方法</li>
								<li>URI（路径、查询字符串）</li>
								<li>去除路径前缀或后缀</li>
								<li>支持正则表达式</li>
								<li>智能 URL 编码和正斜杠处理</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>静态响应</h4>
							<div class="benefits">
								在配置中硬编码静态响应，能够设置状态码、头部字段和正文。（通常用于响应 HTTP 重定向。）然后可以优雅地关闭连接，或者在需要时强制终止。
							</div>
						</div>
						<div class="feature-row">
							<h4>子路由</h4>
							<div class="benefits">
								将处理器分组为“子路由”，将多个处理器视为一个，使某些逻辑更容易理解。
							</div>
						</div>
						<div class="feature-row">
							<h4>模板</h4>
							<div class="benefits">
								响应可以作为模板评估，这使你能够将代理或静态内容转换为丰富、动态的内容，支持变量、if 语句、Markdown 渲染（带前部 YAML 支持）等。
							</div>
						</div>
						<div class="feature-row">
							<h4>追踪</h4>
							<div class="benefits">
								支持使用 OpenTelemetry 进行分布式追踪。
							</div>
						</div>
						<div class="feature-row">
							<h4>变量</h4>
							<div class="benefits">
								读写可以在处理请求时内部使用的变量。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">WebDAV</h4>
							<div class="benefits">
								用一两行配置成为 WebDAV 服务器。兼容大多数 WebDAV 客户端。
							</div>
						</div>
					</div>
				</div>
			</section>



			<section class="diagonal up gray feature">
				<div class="wrapper">
					<h2>
						反向代理
					</h2>
					<p>
						Caddy 拥有世界上最灵活、通用的反向代理，具有高级请求和响应处理、动态路由、健康检查、负载均衡、熔断等功能。
					</p>
					<p>
						使 Caddy 代理独一无二的是其设计。只有面向客户端的一端需要是 HTTP；与后端往返的基础传输可以使用任何协议！
					</p>
					<p>
						此外，我们的代理可以使用高度动态的上游。也就是说，可用的上游可以在请求进行中更改！如果没有后端可用，Caddy 可以保留请求直到有可用为止。
					</p>

					<h3 class="blue">高级代理功能</h3>

					<div class="feature-list">
						<div class="feature-row">
							<h4>传输</h4>
							<div class="benefits">
								传输是 Caddy 从后端获取响应的方式。Caddy 的代理可以通过使用替代传输模块来成为非 HTTP 协议的前端。这使得 Caddy 能够从根本不使用 HTTP 的后端生成 HTTP 响应！
							</div>
							<ul class="detail">
								<li>HTTP</li>
								<li>FastCGI</li>
								<li class="nonstandard">NTLM</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>负载均衡</h4>
							<div class="benefits">
								选择上游是任何现代反向代理的关键功能。Caddy 有多种内置负载均衡策略可供选择，以满足任何生产服务。一些策略非常快速且轻量级；另一些基于客户端或请求的属性提供上游亲和性；还有一些通过计数连接或使用随机性和权重力求均匀分布。
							</div>
							<ul class="detail">
								<li>随机</li>
								<li>随机选择 N</li>
								<li>最少连接</li>
								<li>轮询</li>
								<li>加权轮询</li>
								<li>最先可用</li>
								<li>远程 IP 哈希</li>
								<li>客户端 IP 哈希</li>
								<li>URI 哈希</li>
								<li>查询哈希</li>
								<li>头部哈希</li>
								<li>Cookie 哈希</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>熔断</h4>
							<div class="benefits">
								熔断器模块可以在后端实际宕机之前临时将其标记为离线，以保持其正常运行。
							</div>
							<div class="detail nonstandard">
								基于延迟
							</div>
						</div>
						<div class="feature-row">
							<h4>健康检查</h4>
							<div class="benefits">
								健康检查检测上游何时不可用。被动健康检查从实际请求推断状态。主动健康检查在后台工作，与客户端请求无关。
							</div>
							<ul class="detail">
								<li>主动</li>
								<li>被动</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>可观测性</h4>
							<div class="benefits">
								管理 API 暴露一个端点来检索代理上游的流量计数和健康状态。
							</div>
						</div>
						<div class="feature-row">
							<h4>上游来源</h4>
							<div class="benefits">
								Caddy 可以通过多种方式获取上游列表。最常见的是将它们写入配置（静态）。其他方式是动态的，即为每个请求返回一个上游列表（这些利用可配置的缓存来提高性能）。
							</div>
							<ul class="detail">
								<li>静态</li>
								<li>动态：A 记录</li>
								<li>动态：SRV 记录</li>
								<li>动态：多个来源组合</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>重试</h4>
							<div class="benefits">
								请求可以重试，直到有可用的后端成功处理请求。在此期间，上游列表甚至可能在请求挂起时更新！
							</div>
						</div>
						<div class="feature-row">
							<h4>流式传输</h4>
							<div class="benefits">
								响应可以直接流式传输到客户端，或者为了更好的线路性能，进行少量缓冲并定期刷新。
							</div>
						</div>
						<div class="feature-row">
							<h4>受信任的代理</h4>
							<div class="benefits">
								为了使用像 X-Forwarded-For 这样的代理相关头部，你可以指定你信任的代理 IP 范围列表。默认情况下，Caddy 不信任客户端。
							</div>
						</div>
						<div class="feature-row">
							<h4>头部操作</h4>
							<div class="benefits">
								可以在发送到后端的请求和从后端返回的响应中修改头部。这类似于通用 HTTP 服务器的头部处理器，但这是在代理时应用的。
							</div>
							<ul class="detail">
								<li>添加</li>
								<li>设置（覆盖）</li>
								<li>删除</li>
								<li>子字符串替换</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>缓冲</h4>
							<div class="benefits">
								代理可以选择在刷新之前读取整个请求体。这使用更多内存，但某些后端应用程序或客户端在某些情况下可能需要。
							</div>
							<ul class="detail">
								<li>请求</li>
								<li>响应</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>请求重写</h4>
							<div class="benefits">
								重写是与代理不同的关注点，通常单独处理，但有时你需要使用来自代理的信息（如选择的上游）来重写请求。Caddy 的代理允许你这样做。
							</div>
						</div>
						<div class="feature-row">
							<h4>响应拦截</h4>
							<div class="benefits">
								默认情况下，Caddy 的代理只是将响应写入客户端。然而，你可以拦截上游的响应并以其他方式处理它。这包括仅匹配某些响应并调用你指定的自定义处理器链。
							</div>
						</div>
					</div>

					<h3 class="green">主动健康检查</h3>
					<p>
						主动健康检查默认假定后端宕机，直到健康检查确认其正常。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>HTTP 请求参数</h4>
							<div class="benefits">
								主动健康检查针对上游的 HTTP 端点执行。你可以自定义这些 HTTP 请求的参数以满足你的需求。
							</div>
							<ul class="detail">
								<li>路径和查询字符串</li>
								<li>端口</li>
								<li>头部</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>时间间隔</h4>
							<div class="benefits">
								你可以自定义执行主动健康检查的时间间隔。
							</div>
						</div>
						<div class="feature-row">
							<h4>成功标准</h4>
							<div class="benefits">
								每次主动健康检查都可以自定义一套标准来确定健康或不健康状态。
							</div>
							<ul class="detail">
								<li>响应超时</li>
								<li>HTTP 状态码</li>
								<li>对正文的正则表达式匹配</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>故障安全</h4>
							<div class="benefits">
								遇到错误和困难的后端有时可能响应意外大的响应体。Caddy 允许限制此大小以保护代理资源。
							</div>
							<div class="detail">
								限制响应大小
							</div>
						</div>
					</div>

					<h3 class="purple">被动健康检查</h3>
					<p>
						被动健康检查默认假定后端正常，直到在代理请求过程中满足失败标准。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>失败标准</h4>
							<div class="benefits">
								所有被动健康检查都计入连接失败。此外，你可以设置更多标准，以在请求期间将后端视为正常。
							</div>
							<ul class="detail">
								<li>超过并发请求限制</li>
								<li>HTTP 状态</li>
								<li>延迟</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>失败记忆</h4>
							<div class="benefits">
								你可以自定义记住失败的时间以及需要多少失败记录在内存中才能将后端视为宕机。
							</div>
						</div>
					</div>


					<h3 class="blue">HTTP 传输</h3>
					<p>
						这是默认的传输模块。它构造一个代理 HTTP 请求以从后端获取 HTTP 响应。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>DNS 解析器</h4>
							<div class="benefits">
								默认使用系统解析器，但你可以为每个代理处理器指定自定义 DNS 解析器。
							</div>
						</div>
						<div class="feature-row">
							<h4>TLS</h4>
							<div class="benefits">
								Caddy 可配置为支持 TLS（原 SSL）到上游。
							</div>
							<ul class="detail">
								<li>自定义根 CA 池</li>
								<li>对后端的客户端认证</li>
								<li>自定义握手超时</li>
								<li>服务器名称指示 (SNI)</li>
								<li>重新协商级别</li>
								<li>免于 TLS 的特定端口</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>连接池</h4>
							<div class="benefits">
								到后端的连接被池化，以实现最高效率和最小延迟。
							</div>
							<ul class="detail">
								<li>HTTP Keep-Alive</li>
								<li>自定义探测间隔</li>
								<li>最大空闲连接数（总数和每主机）</li>
								<li>空闲连接超时</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>压缩</h4>
							<div class="benefits">
								Caddy 可以压缩与后端往返的请求。
							</div>
							<div class="detail">
								Gzip
							</div>
						</div>
						<div class="feature-row">
							<h4>连接限制</h4>
							<div class="benefits">
								你可以限制每个主机的连接数。
							</div>
						</div>
						<div class="feature-row">
							<h4>PROXY 协议</h4>
							<div class="benefits">
								连接到上游时，支持 PROXY 协议 v1 和 v2。
							</div>
						</div>
						<div class="feature-row">
							<h4>超时</h4>
							<div class="benefits">
								可以配置各种超时；有些有合理的默认值。
							</div>
							<ul class="detail">
								<li>连接（拨号）</li>
								<li>RFC 6555 回退</li>
								<li>读取响应头部</li>
								<li>等待继续</li>
								<li>读取</li>
								<li>写入</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>自定义缓冲区大小</h4>
							<div class="benefits">
								如果你发现你的应用程序在特定设置下性能更好，可以调整读/写缓冲区的大小。
							</div>
							<ul class="detail">
								<li>读取缓冲区</li>
								<li>写入缓冲区</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>HTTP 版本</h4>
							<div class="benefits">
								Caddy 的代理支持与后端的多个 HTTP 版本。默认情况下，支持 HTTP/1.1 和 HTTP/2。
							</div>
							<ul class="detail">
								<li>HTTP/1.1</li>
								<li>HTTP/2</li>
								<li>H2C（基于明文的 HTTP/2）</li>
							</ul>
						</div>
					</div>

					<h3 class="green">FastCGI 传输</h3>
					<p>
						FastCGI 通常用于通过 php-fpm 服务 PHP 应用程序。FastCGI 响应者可能需要有关正在运行的脚本的额外信息，如脚本名称、相对于根目录的路径等，Caddy 的 FastCGI 传输负责处理所有这些并使其可配置。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>高效率</h4>
							<div class="benefits">
								Caddy 的 FastCGI 客户端实现经过优化，可与用 C 编写的内存不安全客户端相媲美，有时甚至超越其性能。
							</div>
						</div>
						<div class="feature-row">
							<h4>路径分割</h4>
							<div class="benefits">
								可以分割路径（通常在扩展名处），以计算正确的 PATH_INFO 变量。
							</div>
						</div>
						<div class="feature-row">
							<h4>解析根符号链接</h4>
							<div class="benefits">
								可选要求如果符号链接在未重启 php-fpm 的情况下更改，则声明到符号链接的路径需要更新。
							</div>
						</div>
						<div class="feature-row">
							<h4>环境变量</h4>
							<div class="benefits">
								从父环境读取，并可以为你的 CGI 脚本设置自定义环境变量。
							</div>
						</div>
						<div class="feature-row">
							<h4>超时</h4>
							<div class="benefits">
								设置超时以节省资源。
							</div>
							<ul class="detail">
								<li>拨号（连接）</li>
								<li>读取</li>
								<li>写入</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>捕获 stderr</h4>
							<div class="benefits">
								Caddy 可以捕获上游输出到 stderr 的内容并记录日志以获得可见性。
							</div>
						</div>
					</div>
					
				</div>
			</section>


			<section class="feature">
				<div class="wrapper">
					<h2>
						静态文件服务器
					</h2>
					<p>
						Caddy 的文件服务器是服务网站静态文件的首选方式。
					</p>
					<p>
						很简单：指定一个根目录来服务文件，然后每个请求路径会自动附加到根目录以获取要服务的文件的完整路径。
					</p>
					<div class="feature-list">
						<div class="feature-row">
							<h4>内核加速</h4>
							<div class="benefits">
								Caddy 尽可能绕过用户空间缓冲区，以显著加快文件下载速度。
							</div>
							<div class="detail">
								sendfile
							</div>
						</div>
						<div class="feature-row">
							<h4>虚拟文件系统</h4>
							<div class="benefits">
								默认情况下，Caddy 从你指定的本地磁盘目录提供文件，但这种文件访问是可插拔的，可以被任何虚拟文件系统模块替换。这允许你从任何文件存储（如数据库、云存储甚至直接嵌入在 Web 服务器二进制文件中的资产）提供静态文件！
							</div>
							<ul class="detail">
								<li>本地磁盘</li>
								<li class="nonstandard">嵌入式资产</li>
								<li class="nonstandard">Amazon AWS S3</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>预压缩文件</h4>
							<div class="benefits">
								如果你的部署管道压缩站点资源，Caddy 可以自动检测它们并以“预压缩”编码提供它们，以获得更高的效率和更大的吞吐量。
							</div>
							<ul class="detail">
								<li>Brotli</li>
								<li>Zstandard</li>
								<li>Gzip</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>隐藏文件和文件夹</h4>
							<div class="benefits">
								通过主动隐藏可能敏感的、存在于或可能存在站点根目录中的文件和文件夹，提高你的安全态势。你可以指定单个文件/文件夹路径、无论路径如何的文件名，或使用通配符匹配隐藏具有特定模式的文件/文件夹。
							</div>
							<div class="detail">
								精确路径、文件名、通配符匹配
							</div>
						</div>
						<div class="feature-row">
							<h4>索引文件名</h4>
							<div class="benefits">
								索引文件是当客户端请求目录时提供的文件。索引文件的文件名是可自定义的。如果在请求目录中未找到索引文件，可以选择启用目录浏览。
							</div>
							<div class="detail">
								index.html、index.txt（可自定义）
							</div>
						</div>
						<div class="feature-row">
							<h4>条件请求</h4>
							<div class="benefits">
								支持 Etag、Last-Modified 及相关头部。
							</div>
							<ul class="detail">
								<li>Etag</li>
								<li>Last-Modified</li>
								<li>If-Match</li>
								<li>If-None-Match</li>
								<li>If-Modified-Since</li>
								<li>If-Unmodified-Since</li>
								<li>If-Range</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>范围请求</h4>
							<div class="benefits">
								常用于流式传输大文件和恢复下载，客户端请求文件的特定范围不会失望或感到意外。Caddy 正确处理带有 Range 头部的 HTTP 请求。
							</div>
						</div>
						<div class="feature-row">
							<h4>规范路径</h4>
							<div class="benefits">
								通常，单个文件或目录有多个 URI。例如：/、/index.html 和 /index.html/ 表示相同的资源。Caddy 使用 HTTP 重定向来强制路径规范化（从文件中删除尾部斜杠，并为目录添加尾部斜杠）。
							</div>
						</div>
						<div class="feature-row">
							<h4>直通模式</h4>
							<div class="benefits">
								有时你只想在文件存在时提供它，否则继续执行链中的下一个处理器，而不是向客户端返回错误。
							</div>
						</div>
					</div>

					

					<div class="split">
						<div>
							<h3 class="blue">文件浏览器</h3>
							<p>
								Caddy 的文件服务器通过其现代文件浏览器变得生动起来，在移动设备和桌面上都看起来很有吸引力。它拥有比任何其他标准 HTTP 文件服务器更多的功能和实用性！
							</p>
						</div>
						<picture>
							<source srcset="/resources/images/file-browser/browse-corner-dark.png" media="(prefers-color-scheme: dark)">
							<img src="/resources/images/file-browser/browse-corner-light.png">
						</picture>
					</div>

					<div class="feature-list">
						<div class="feature-row">
							<h4>文件夹列表</h4>
							<div class="benefits">
								当该文件夹中不存在索引文件（见下文）时，显示文件夹中的文件列表。
							</div>
							<div class="detail">
								精确路径、文件名、通配符匹配
							</div>
						</div>
						<div class="feature-row">
							<h4>日间和夜间主题</h4>
							<div class="benefits">
								配色方案自动调整以匹配系统主题（浅色或深色），以避免刺眼或难以阅读。
								<picture>
									<source srcset="/resources/images/file-browser/browse-themes-2.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/browse-themes.png">
								</picture>
							</div>
							<ul class="detail">
								<li>浅色模式</li>
								<li>深色模式</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>按列排序</h4>
							<div class="benefits">
								快速提炼每个目录的信息，并通过粘性列排序更快地找到项目。
							</div>
							<ul class="detail">
								<li>文件/目录</li>
								<li>名称</li>
								<li>大小</li>
								<li>修改日期</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>筛选</h4>
							<div class="benefits">
								每次页面加载自动将光标聚焦在搜索框上，因此你可以开始输入文件名并立即过滤大型列表。
								<picture>
									<source srcset="/resources/images/file-browser/browse-search-dark.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/browse-search-light.png">
								</picture>
							</div>
						</div>
						<div class="feature-row">
							<h4>布局</h4>
							<div class="benefits">
								文件可以以不同布局显示，具体取决于你希望如何查看列表。例如，网格视图非常适合画廊。
								<picture>
									<source srcset="/resources/images/file-browser/browse-gallery-dark.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/browse-gallery-light.png">
								</picture>
							</div>
							<ul class="detail">
								<li>列表</li>
								<li>网格</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>响应式设计</h4>
							<div class="benefits">
								页面宽度流畅调整以适应所有屏幕尺寸。链接尺寸足够大，可以在触摸屏上轻松点击，同时信息密集度也足以实用。
							</div>
						</div>
						<div class="feature-row">
							<h4>JSON API</h4>
							<div class="benefits">
								带有 <code>Accept-Encoding: application/json</code> 头部的请求将以 JSON 负载响应，以编程或脚本方式访问文件列表。
							</div>
						</div>
						<div class="feature-row">
							<h4>可自定义的列表模板</h4>
							<div class="benefits">
								如果默认模板不适合或你想增加趣味，可以自定义浏览模板，使其外观和行为完全符合你的需求！
							</div>
						</div>
						<div class="feature-row">
							<h4>文件大小可视化</h4>
							<div class="benefits">
								文件大小通过其后条形的长度指示，使得快速轻松地找到异常的大文件和小文件，或一目了然地比较相对大小。
								<picture>
									<source srcset="/resources/images/file-browser/browse-size-dark.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/browse-size-light.png">
								</picture>
							</div>
						</div>
						<div class="feature-row">
							<h4>文件类型图标</h4>
							<div class="benefits">
								文件服务器识别数十种常见文件类型，并显示相关图标，使扫描页面时更容易识别。
								<picture>
									<source srcset="/resources/images/file-browser/icons-all-dark.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/icons-all-light.png">
								</picture>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="diagonal down gray feature">
					<div class="construction">
						<div class="construction-images">
							{{$n := randInt 0 5}}
							{{if eq $n 1}}
							<img src="/resources/images/nostalgia/under-construction-caution-tape.gif">
							<img src="/resources/images/nostalgia/under-construction-sign.gif">
							<img src="/resources/images/nostalgia/under-construction-caution-tape.gif">
							{{else if eq $n 2}}
							<img src="/resources/images/nostalgia/under-construction-blink.gif">
							<img src="/resources/images/nostalgia/under-construction-blink.gif">
							<img src="/resources/images/nostalgia/under-construction-blink.gif">
							{{else if eq $n 3}}
							<img src="/resources/images/nostalgia/under-construction-barricade.gif">
							{{else if eq $n 4}}
							<img src="/resources/images/nostalgia/sorry-under-construction.gif">
							{{else}}
							<img src="/resources/images/nostalgia/under-construction-cones.gif">
							{{end}}
						</div>
						<p>
							Caddy 是一个活跃的项目，拥有大量功能。此页面还不是 Caddy 提供的所有功能和优势的全面列表，因为要提及的太多。我们欢迎在 GitHub 上<a href="https://github.com/caddyserver/website">贡献</a>！
						</p>
					</div>
					
				</div>
			</section>


			<!--

				TODO:
					- 管理 API（包括调试端点）
					- HTTP 处理器
					- PKI 设施
					- 
			-->

		</main>


		{{include "/includes/footer.html"}}
	</body>
</html>