<!DOCTYPE html>
<html>
	<head>
		<title>Caddy Web Server 的所有功能</title>
		{{import "/includes/head.html"}}
		{{template "head" .}}
		<link rel="stylesheet" href="/resources/css/marketing.css{{template "cacheBust"}}">
		<link rel="stylesheet" href="/resources/css/features.css{{template "cacheBust"}}">
	</head>
	<body>
		<div class="hero">
			{{include "/includes/header.html" "dark-header"}}
			
			<div class="wrapper">
				<div class="hero-content">
					<h1>
						所有功能
						<div class="subheading">
							这可能是一项庞大的工程，请先坐下。
						</div>
					</h1>
				</div>
			</div>
		</div>

		<main>

			<section class="diagonal up feature">
				<div class="wrapper">
					<div class="legend">
						以<span class="nonstandard">此颜色</span>显示的功能由可选插件提供。
					</div>

					<h2>
						概览
					</h2>
					<p>
						Caddy 本质上是一个配置管理系统，可以运行各种应用，如 HTTP 服务器、TLS 证书管理器、PKI 设施等。它可以通过称为配置模块的插件进行扩展。
					</p>
					<p>
						Caddy 拥有一个灵活而强大的 HTTP 反向代理、在线配置 API，以及一个健壮的、可直接用于生产的静态文件服务器，默认通过 HTTPS 为所有站点提供服务，并自动管理 TLS 证书。
					</p>

					<h3 class="green">整体程序技术规格</h3>

					<div class="feature-list">
						<div class="feature-row">
							<h4>编程语言</h4>
							<div class="benefits">
								对于 Web 服务器而言，编程语言的选择至关重要。语言影响开发速度和易用性、性能、测试、部署复杂度、生态系统的可靠性、依赖关系、工具链、错误处理和可靠性等方面。Go 在这些领域都提供了显著优势，支持快速开发、健壮的生产性能和高可扩展性。
							</div>
							<div class="detail">
								Go
							</div>
						</div>
						<div class="feature-row">
							<h4>内存安全保障</h4>
							<div class="benefits">
								大多数服务器（NGINX、Apache、HAProxy 等）及其依赖项都用 C 编写，容易受到灾难性的内存安全漏洞（如缓冲区溢出）的影响，例如心脏滴血漏洞。像 Caddy 这样的 Go 程序对一整类安全漏洞具有免疫性。
							</div>
							<div class="detail">
								强
							</div>
						</div>
						<div class="feature-row">
							<h4>构建产物</h4>
							<div class="benefits">
								Caddy 直接编译为本机 CPU 指令。无需解释器；许多指令针对架构进行了优化。静态二进制文件也更<a href="https://www.phoronix.com/news/Glibc-LD-Nasty-Root-Bug">安全</a>，因为不存在动态链接。
							</div>
							<div class="detail">
								平台原生静态二进制文件
							</div>
						</div>
						<div class="feature-row">
							<h4>运行时依赖</h4>
							<div class="benefits">
								Caddy 是静态编译的。动态链接的应用程序在生产环境中容易损坏，并且<a href="https://www.qualys.com/2023/10/03/cve-2023-4911/looney-tunables-local-privilege-escalation-glibc-ld-so.txt">可能安全性较低</a>，因为共享的可执行资源从系统各处加载。通常，Caddy 二进制文件不需要外部库——甚至不需要 libc。
							</div>
							<div class="detail">
								无
							</div>
						</div>
						<div class="feature-row">
							<h4>编译时间</h4>
							<div class="benefits">
								在消费级硬件上，标准 Caddy 构建只需几秒钟即可完成编译。这对于快速迭代、插件开发和低成本部署至关重要。其他用 C/C++ 编写的服务器可能需要几分钟。
							</div>
							<div class="detail">
								冷构建约 30 秒，<br>热构建约 2 秒
							</div>
						</div>
						<div class="feature-row">
							<h4>部署环境</h4>
							<div class="benefits">
								Caddy 几乎可以在任何地方部署，有多种部署方式。一般来说，升级只需替换二进制文件即可。
							</div>
							<ul class="detail">
								<li>命令行界面</li>
								<li>系统服务</li>
								<li>容器</li>
								<li>Kubernetes</li>
								<li>嵌入式</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>供应链和发布</h4>
							<div class="benefits">
								Go 模块验证我们依赖项的完整性，我们对发布产物进行加密签名，让您知道可以信任的内容。
							</div>
							<div class="detail">
								加密验证
							</div>
						</div>
						<div class="feature-row">
							<h4>操作系统</h4>
							<div class="benefits">
								Caddy 可以在 Go 编译支持的每一个主要平台上运行。
							</div>
							<ul class="detail">
								<li>Linux</li>
								<li>Windows</li>
								<li>macOS</li>
								<li>FreeBSD</li>
								<li>OpenBSD</li>
								<li>NetBSD</li>
								<li>Android</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>微架构</h4>
							<div class="benefits">
								在多种 CPU 平台上使用本机代码运行 Caddy。
							</div>
							<ul class="detail">
								<li>x86 (i386, i686)</li>
								<li>x86-64 (AMD64)</li>
								<li>ARM</li>
								<li>ARM 64 (AArch64)</li>
								<li>MIPS</li>
								<li>MIPS64[LE]</li>
								<li>PPC64[LE]</li>
								<li>RISCV64</li>
								<li>S390X</li>
								<li>Apple Silicon (Apple ARM; M1, M2, etc.)</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>正则表达式引擎</h4>
							<div class="benefits">
								Caddy 的正则表达式语言<a href="https://swtch.com/~rsc/regexp/regexp1.html">基于 Thompson NFA，并且相比其他 Web 服务器使用的 PCRE 有诸多性能改进</a>。它保证运行时成本呈线性增长而不是指数增长。这对于评估不可信输入非常理想。
								<p>
									<a href="https://github.com/google/re2/wiki/Syntax">RE2 Syntax</a>
								</p>
							</div>
							<div class="detail">
								RE2
							</div>
						</div>
						<div class="feature-row">
							<h4>并发模型</h4>
							<div class="benefits">
								Go 的运行时使用称为 goroutine 的轻量级用户空间线程，以比操作系统更智能的方式优化调度的 CPU 时间。Caddy 利用所有 CPU 核心，可以轻松处理每秒数十万次请求。
							</div>
							<div class="detail">
								Goroutine（epoll + kqueue）
							</div>
						</div>
						<div class="feature-row">
							<h4>插件模型</h4>
							<div class="benefits">
								Caddy 可以通过编译时插件进行扩展，这些插件编译为本机代码，不会在部署或系统升级时损坏。无需 IPC 或 RPC 调用，Caddy 扩展的性能与本机代码一样出色。
							</div>
							<div class="detail">
								编译时静态
							</div>
						</div>
					</div>

					<h3 class="purple">高级功能</h3>

					<div class="feature-list">
						<div class="feature-row">
							<h4>配置更改</h4>
							<div class="benefits">
								通过零停机时间的优雅重载，Caddy 可以在运行时更改配置。它可编程/可脚本化，实现强大的自动化。
							</div>
							<ul class="detail">
								<li>RESTful HTTP API</li>
								<li>Config files</li>
								<li>Secure remote access</li>
								<!-- <li>Optimistic concurrency</li> -->
							</ul>
						</div>
						<div class="feature-row">
							<h4>应用模块</h4>
							<div class="benefits">
								顶层配置结构称为应用模块，或 Caddy 应用。它们提供了 Caddy 的大部分功能。任何人都可以编写应用模块，Caddy 自带几个标准应用。
							</div>
							<ul class="detail">
								<li>HTTP</li>
								<li>TLS</li>
								<li>PKI</li>
								<li>Events</li>
								<li class="nonstandard">Raw TCP & UDP</li>
								<li class="nonstandard">SSH</li>
								<li class="nonstandard">PHP</li>
								<li class="nonstandard">Dynamic DNS</li>
								<li class="nonstandard">Security</li>
								<li class="nonstandard">Process supervision</li>
								<li class="nonstandard">Profiling</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>日志</h4>
							<div class="benefits">
								所有 Caddy 模块都使用 Caddy 的集中式日志设施。Caddy 的日志可以配置格式、详细程度、输出等。
							</div>
							<ul class="detail">
								<li>Leveled</li>
								<li>Structured</li>
								<li>High efficiency, zero-allocation</li>
								<li>Extensible</li>
								<li>删除, filter, redact, and censor fields</li>
								<li>IP masking</li>
								<li>Hash values</li>
								<li>Regex replacement</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>存储</h4>
							<div class="benefits">
								资源和状态（包括证书和 OCSP Staple）存储在可配置的存储后端中。事实上，使用相同存储配置的多个 Caddy 实例被视为集群的一部分，可以自动协调。
							</div>
							<ul class="detail">
								<li>File system</li>
								<li>嵌入式 (in-memory)</li>
								<li class="nonstandard">Postgres</li>
								<li class="nonstandard">Redis</li>
								<li class="nonstandard">Vault</li>
								<li class="nonstandard">Consul</li>
							</ul>
						</div>
					</div>
				</div>
			</section>






			<section class="diagonal down gray feature">
				<div class="wrapper">
					<h2>
						命令行界面
					</h2>
					<p>
						Caddy 的 CLI 不仅实用——它<i>友好</i>。与大多数服务器 CLI 仅运行进程和重载配置不同，Caddy 的 CLI 额外多走一光年，帮助您轻松管理现代 Web 服务器。
					</p>
					<p>
						插件可以注册它们自己的子命令来扩展 Caddy 的 CLI。 
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>命令帮助</h4>
							<div class="benefits">
								如果您拼错命令或标志、缺少参数或不知道子命令，会自动打印帮助文本。您也可以通过<code>caddy help</code>或<code>-h</code>访问整体命令帮助或子命令帮助。
							</div>
							<div class="detail">
								内置，自动（也可以生成<code>man</code>手册页）
							</div>
						</div>
						<div class="feature-row">
							<h4>管理 API 封装</h4>
							<div class="benefits">
								几个子命令使用管理 API 端点与 CLI 配合使用，帮助您执行常见任务，如从文件加载配置或停止服务器。
							</div>
							<ul class="detail">
								<li>Adapt config to JSON</li>
								<li>Start the server, optionally with config</li>
								<li>Gracefully reload configuration</li>
								<li>Stop the server</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>二进制工具</h4>
							<div class="benefits">
								由于 Caddy 的自定义构建非常普遍，有几个命令可以帮助您管理和获取有关构建的详细信息。
							</div>
							<ul class="detail">
								<li>Detailed build metadata</li>
								<li>List installed config modules</li>
								<li>List dependencies</li>
								<li>添加 and remove plugin packages</li>
								<li>Print the version</li>
								<li>Upgrade the Caddy binary</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>配置工具</h4>
							<div class="benefits">
								如果您选择使用配置文件，Caddy 的 CLI 可以帮助您管理它们。
							</div>
							<ul class="detail">
								<li>Format Caddyfile</li>
								<li>Validate configuration</li>
								<li>List dependencies</li>
								<li>添加 and remove plugin packages</li>
								<li>Print the version</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>模块工具</h4>
							<div class="benefits">
								模块可以注册它们自己的子命令来提供常见功能，这些功能可以在没有配置文件的情况下使用。
							</div>
							<ul class="detail">
								<li>静态 file server</li>
								<li>HTTP reverse proxy</li>
								<li>静态 HTTP responses (templateable)</li>
								<li>存储 import/export (backup/restore)</li>
								<li>Hash password for use with HTTP basic auth</li>
								<li>Export file browse template</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>集成工具</h4>
							<div class="benefits">
								几个子命令可以帮助您将 Caddy 集成到您的 shell 环境中。
							</div>
							<ul class="detail">
								<li>Generate shell completion script</li>
								<li>Print the environment</li>
								<li>Generate <code>man</code> pages</li>
								<li>Install Caddy-managed root CA into trust stores</li>
								<li>Remove Caddy-managed root CA from trust stores</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>系统信号</h4>
							<div class="benefits">
								Caddy 支持常见的操作系统信号/中断，每种信号/中断的行为有细微差别。
								<p>
									<a href="/docs/command-line#signals">Signal documentation</a>
								</p>
							</div>
							<ul class="detail">
								<li>INT (graceful stop)</li>
								<li>USR1 (reload configuration, if loaded via config file)</li>
								<li>QUIT</li>
								<li>TERM</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>退出代码</h4>
							<div class="benefits">
								无论 Caddy 是成功退出还是出错，<a href="/docs/command-line#exit-codes">退出代码</a>都可以为进程管理器或脚本如何处理提供提示。
							</div>
						</div>
					</div>
					
				</div>
			</section>


			<section class="feature">
				<div class="wrapper">
					<h2>
						Configuration
					</h2>
					<p>
						我们设计 Caddy 时，使其配置不仅提供对功能的访问，而且<i>配置本身就是一个功能</i>。
					</p>
					<p>
						不再争论哪种配置文件格式最好：使用您喜欢的任何格式！Caddy 的<a href="/docs/config-adapters">配置适配器</a>允许您使用任何您喜欢的配置格式。
					</p>
					<div class="feature-list">
						<div class="feature-row">
							<h4>原生配置格式</h4>
							<div class="benefits">
								Caddy 的原生配置格式无处不在：它在几乎所有操作系统、平台、编程语言和 API 生态系统中都有工具支持。几乎所有其他格式都可以转换为 JSON，平衡了人类可读性和可编程性。您将发现它是 Web 服务器的强大盟友。
							</div>
							<div class="detail">
								JSON
							</div>
						</div>
						<div class="feature-row">
							<h4>配置适配器</h4>
							<div class="benefits">
								您可以始终使用其他格式编写配置，通过配置适配器，Caddy 会隐式将其转换为您喜欢的 JSON 格式。
							</div>
							<ul class="detail">
								<li>Caddyfile</li>
								<li class="nonstandard">JSON 5</li>
								<li class="nonstandard">JSON-C</li>
								<li class="nonstandard">NGINX Conf</li>
								<li class="nonstandard">YAML</li>
								<li class="nonstandard">CUE</li>
								<li class="nonstandard">TOML</li>
								<li class="nonstandard">HCL</li>
								<li class="nonstandard">Dhall</li>
								<li class="nonstandard">MySQL</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>用户友好的配置</h4>
							<div class="benefits">
								Caddyfile 是大多数用户最喜欢的手写 Web 服务器配置方式，因为它的语法宽容，同时设计结构使其易于阅读和编写。它会自动转换为 JSON。
							</div>
							<div class="detail">
								Caddyfile
							</div>
						</div>
						<div class="feature-row">
							<h4>导出</h4>
							<div class="benefits">
								Caddy 的管理 API 允许您通过简单的 GET 请求以 JSON 格式访问运行时当前配置。
							</div>
						</div>
						<div class="feature-row">
							<h4>配置 API</h4>
							<div class="benefits">
								Caddy 通过 API 端点接收配置，该端点可以接受 JSON 或其有配置适配器的任何其他格式。
							</div>
						</div>
						<div class="feature-row">
							<h4>配置文件</h4>
							<div class="benefits">
								如果您更喜欢使用普通的 shell 命令来管理配置，Caddy 的 CLI 会为您封装 API 端点。
							</div>
						</div>
					</div>
					
				</div>
			</section>




			<section class="diagonal up dark feature">
				<div class="wrapper">
					<h2 id="automatic-https">
						自动 HTTPS
					</h2>
					<p>
						我们的旗舰功能，由<a href="https://github.com/caddyserver/certmagic">CertMagic</a>驱动。Caddy 是第一个也是唯一一个默认启用 HTTPS 的主要服务器，并自动为所有站点获取和续期证书。
					</p>
					<p>
						完全原生、集成的自动 HTTPS 远超任何需要外部工具或 cron 作业的方案。Caddy 的证书维护是业界最好的，因为它比其他任何解决方案都更健壮、可靠和可扩展。Caddy 简化了您的基础设施，而不是使其复杂化。
					</p>
					<p>
						当然，您可以尝试用 Certbot 和 cron 作业部署 100,000 个站点——但如果它自己没有崩溃，Web 服务器会。只有 Caddy 被设计为可以水平和垂直大规模扩展 TLS 证书。
					</p>
					<p>
						再也不用手动生成 CSR。再也不用点击电子邮件中的链接来下载证书。再也不用（错误）配置 Web 服务器来使用它们。再也不用在证书每几个月到期前忘记逐个续期证书。您甚至不需要考虑证书或 TLS。
					</p>
					<p>
						这确实是自动化的魔法。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>合规性</h4>
							<div class="benefits">
								Caddy 的 TLS<i>默认值</i>无需额外配置就是安全的，并通过了各个行业的合规性测试。
							</div>
							<ul class="detail">
								<li>符合 PCI DSS</li>
								<li>符合 NIST</li>
								<li>符合 HIPAA</li>
								<li>行业最佳实践</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>按需 TLS</h4>
							<div class="benefits">
								要托管不属于您的域名？或有大量域名？没问题！只需几行配置，按需 TLS 就可以在 TLS 握手期间动态获取证书，将您的部署扩展到数万个证书。此功能为 Caddy 独有。
							</div>
						</div>
						<div class="feature-row">
							<h4>证书颁发机构</h4>
							<div class="benefits">
								以兼容的方式从任何颁发机构获取证书。证书颁发机构接受 CSR 并返回证书资源。大多数站点将仅使用 ACME 来获取证书。但 Caddy 也可以为其内部使用、测试或开发颁发自己的自签名证书。Caddy 的颁发机构源是可插拔的，因此 Caddy 可以从任何颁发机构模块自动获取证书。
							</div>
							<ul class="detail">
								<li>ACME</li>
								<li>内部 (self-signed)</li>
								<li class="nonstandard">Microsoft 主动 Directory 证书服务</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>证书管理器</h4>
							<div class="benefits">
								与接受 CSR 并返回 Caddy 必须管理的证书的颁发机构不同，证书管理器是可以在需要时返回始终有效证书的模块；也就是说，它们为我们管理证书。Caddy 可以通过 HTTP 端点或 Tailscale 获取接口以这种方式获取证书，其他方法通过插件提供。
							</div>
							<ul class="detail">
								<li>HTTP</li>
								<li>Tailscale</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>集群协调</h4>
							<div class="benefits">
								在所有使用相同存储配置的 Caddy 实例上，Caddy 自动协调并在集群中共享资源。这包括证书操作和证书本身、OCSP Staple 和会话票据密钥。这降低了客户端的延迟并提高了可扩展性。
							</div>
							<ul class="detail">
								<li>获取和续期证书</li>
								<li>加载现有证书</li>
								<li>OCSP Staple</li>
								<li>会话票据密钥 (STEK)</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>将 HTTP 重定向到 HTTPS</h4>
							<div class="benefits">
								默认情况下，HTTP 请求将被重定向到 HTTPS。
							</div>
							<div class="detail">
								自动重定向
							</div>
						</div>
						<div class="feature-row">
							<h4>OCSP</h4>
							<div class="benefits">
								OCSP 指示证书何时被吊销。服务器应将 OCSP 响应 Staple 到证书中，以向客户端提供更好的安全和隐私。Caddy 是第一个也是唯一一个自动默认执行此操作的服务器。它还缓存响应以应对 OCSP 响应器故障，并在其集群中共享这些响应。如有需要，可以全部禁用。
							</div>
							<div class="detail">
								带缓存的自动 OCSP Staple
							</div>
						</div>
						<div class="feature-row">
							<h4>必须 Staple</h4>
							<div class="benefits">
								如果 CA 支持，Caddy 可以获取强制 OCSP Staple 的证书。这可能在吊销情况下提供更高程度的安全性。
							</div>
						</div>
						<div class="feature-row">
							<h4>吊销处理</h4>
							<div class="benefits">
								吊销的证书会自动替换。由于 Caddy Staple 并刷新 OCSP 响应，它可以检测您的证书是否已被吊销，如果是，它将使用新证书替换它。
							</div>
						</div>
						<div class="feature-row">
							<h4>会话票据加固</h4>
							<div class="benefits">
								如果攻击者窃取了加密会话票据的密钥，TLS 连接就毫无意义。Caddy 已被<a href="https://jhalderm.com/pub/papers/forward-secrecy-imc16.pdf">学术引用</a>为唯一定期轮换这些密钥以限制攻击窗口的服务器。
							</div>
							<div class="detail">
								自动 STEK 轮换
							</div>
						</div>
						<div class="feature-row">
							<h4>密钥类型</h4>
							<div class="benefits">
								您可以自定义用于证书的密钥类型。
							</div>
							<ul class="detail">
								<li>Ed25519</li>
								<li>ECDSA P256</li>
								<li>ECDSA P384</li>
								<li>RSA 2048</li>
								<li>RSA 4096</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>证书有效期</h4>
							<div class="benefits">
								<p>大多数 ACME 客户端假设 90 天证书，或不期望短于 7 天的证书。Caddy 可以成功管理寿命为数小时和数分钟级别的证书。</p>
								<p>Caddy 不是硬编码在续期前的特定年龄，而是计算相对于每个证书寿命的年龄，称为续期窗口比率。默认情况下，Caddy 在证书可用寿命的 2/3 后续期证书。此比率适用于大多数有效期，但可以调整。</p>
							</div>
							<div class="detail">
								任何有效期
							</div>
						</div>
						<div class="feature-row">
							<h4>智能错误处理</h4>
							<div class="benefits">
								如果 Caddy 无法获取证书，将记录错误，Caddy 将指数退避并重试，直到成功（通常最多 30 天，但可能更长）。Caddy 会尽一切合理努力保持您的证书续期。
							</div>
							<div class="detail">
								指数退避
							</div>
						</div>
						<div class="feature-row">
							<h4>内置限流</h4>
							<div class="benefits">
								Caddy 符合最佳实践，不会向 CA 发送大量证书请求；相反，每个订单都会精心计时，以避免压垮 CA 服务器。
							</div>
						</div>
					</div>

					<h3 class="purple" id="automatic-https-acme">ACME</h3>

					<p>
						Caddy 的 ACME 客户端是一流的，比其他任何可用的集成 ACME 客户端都具有更高的可靠性和更多的生产经验。Caddy 自 Let's Encrypt 公开之前就开始使用 ACME，并且 Caddy 可以与任何 ACME 兼容的 CA 配合使用。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>兼容性</h4>
							<div class="benefits">
								一些 ACME 客户端仅在 Let's Encrypt 上测试。Caddy 保证与所有支持 ACME 的 CA 兼容。
							</div>
							<div class="detail">
								所有符合 RFC 8555 的证书颁发机构，例如：
								<ul>
									<li>Let's Encrypt</li>
									<li>ZeroSSL</li>
									<li>Google Trust Services</li>
									<li>BuyPass</li>
									<li>DigiCert</li>
									<li>GlobalSign</li>
									<li>SSL.com</li>
									<li>Smallstep</li>
								</ul>
							</div>
						</div>
						<div class="feature-row">
							<h4>测试端点</h4>
							<div class="benefits">
								默认情况下，Caddy 在尝试获取证书失败后将回退到 CA 的测试或预发布端点（如果有），以避免触发 CA 强制的生产速率限制。这可能是您专门为验证 DNS 配置而设置的 ACME 服务器。
							</div>
							<div class="detail">
								Let's Encrypt（其他可配置）
							</div>
						</div>
						<div class="feature-row">
							<h4>外部账户绑定</h4>
							<div class="benefits">
								可选配置外部账户绑定 (EAB)，以启用 Caddy 与要求您在其处有单独账户的 CA 配合使用。
							</div>
						</div>
						<div class="feature-row">
							<h4>挑战类型</h4>
							<div class="benefits">
								Caddy 支持 Web PKI 的所有主要 ACME 挑战类型，还可以扩展以支持其他类型。
							</div>
							<ul class="detail">
								<li>HTTP-01</li>
								<li>TLS-ALPN-01</li>
								<li>DNS-01</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>替代挑战端口</h4>
							<div class="benefits">
								虽然某些 ACME 挑战必须使用标准端口 80 和 443，但如果通过路由器转发，Caddy 支持在这些替代端口上监听。
							</div>
							<ul class="detail">
								<li>HTTP（默认 80）</li>
								<li>TLS-ALPN（默认 443）</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>智能挑战选择</h4>
							<div class="benefits">
								Caddy 学习哪些挑战类型最有可能成功，并首先尝试这些类型。例如，如果端口 80 被阻止，它将学习偏好不使用端口 80 的 TLS-ALPN 挑战。
							</div>
						</div>
						<div class="feature-row">
							<h4>DNS 挑战集成</h4>
							<div class="benefits">
								DNS 挑战是唯一不需要 CA 能够访问您的服务器的挑战。通过<a href="https://github.com/libdns">libdns</a>为数十个 DNS 提供商的集成解决 DNS 挑战。<b>此列表不完整；</b> <a href="https://github.com/caddy-dns">查看完整的 DNS 提供商列表</a>。
							</div>
							<ul class="detail">
								<li class="nonstandard">ACME-DNS</li>
								<li class="nonstandard">AliDNS</li>
								<li class="nonstandard">Cloudflare</li>
								<li class="nonstandard">DigitalOcean</li>
								<li class="nonstandard">DNSPod</li>
								<li class="nonstandard">DuckDNS</li>
								<li class="nonstandard">DynDNS</li>
								<li class="nonstandard">EasyDNS</li>
								<li class="nonstandard">Gandi</li>
								<li class="nonstandard">GoDaddy</li>
								<li class="nonstandard">Google Cloud DNS</li>
								<li class="nonstandard">Hetzner</li>
								<li class="nonstandard">Linode</li>
								<li class="nonstandard">Name.com</li>
								<li class="nonstandard">Namecheap</li>
								<li class="nonstandard">Namesilo</li>
								<li class="nonstandard">Netlify</li>
								<li class="nonstandard">OVH</li>
								<li class="nonstandard">Porkbun</li>
								<li class="nonstandard">PowerDNS</li>
								<li class="nonstandard">RFC 2136</li>
								<li class="nonstandard">Route 53</li>
								<li class="nonstandard">Scaleway</li>
								<li class="nonstandard">Vercel</li>
								<li class="nonstandard">Vultr</li>
								<li><a href="https://github.com/caddy-dns">查看全部...</a></li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>受信任的 CA 证书</h4>
							<div class="benefits">
								可选配置您在与其选择的 CA 交互时信任的根证书；这对内部 PKI 很有用，信任是在没有公共 CA 的情况下建立的。
							</div>
						</div>
						<div class="feature-row">
							<h4>首选链</h4>
							<div class="benefits">
								当 CA 提供多个证书链时，Caddy 允许您自定义要下载和使用的链。
							</div>
							<ul class="detail">
								<li>最小</li>
								<li>根 CommonName</li>
								<li>任何 CommonName</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>续期调度</h4>
							<div class="benefits">
								Caddy 选择保守的时间段来续期证书，如果 ACME CA 提供 ACME 续期信息 (ARI)，也会采用其指导。
							</div>
							<ul class="detail">
								<li>内部</li>
								<li>ARI</li>
							</ul>
						</div>
					</div>

				</div>
			</section>





			<section class="diagonal down feature">
				<div class="wrapper">
					<h2>
						HTTP server
					</h2>
					<p>
						Caddy 的 HTTP 服务器独一无二：功能强大、可扩展、高效且现代化。
					</p>
					<div class="feature-list">
						<div class="feature-row">
							<h4>HTTP 版本</h4>
							<div class="benefits">
								Caddy 的 HTTP 服务器支持所有主要版本的 HTTP，并默认启用它们（不安全但可用的 H2C 除外）。您可以自定义要服务的确切版本。
							</div>
							<ul class="detail">
								<li>HTTP/1.1</li>
								<li>HTTP/2</li>
								<li>明文上的 HTTP/2（H2C）</li>
								<li>HTTP/3</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>HTTPS</h4>
							<div class="benefits">
								Caddy 的旗舰功能是自动默认启用 HTTPS。您可以控制其工作方式或禁用某些方面：HTTP 重定向、证书管理、特定主机名等。
							</div>
							<div class="detail">
								自动
							</div>
						</div>
						<div class="feature-row">
							<h4>监听接口</h4>
							<div class="benefits">
								每个 HTTP 服务器可以绑定到一个或多个套接字和网络接口。对于端口，您可以指定特定主机接口或使用端口指定所有接口。也支持所有类型的 Unix 套接字。
							</div>
							<ul class="detail">
								<li>TCP</li>
								<li>UDP</li>
								<li>Unix 套接字</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>监听器包装器</h4>
							<div class="benefits">
								监听器可以被在连接接受级别操作的模块包装。
							</div>
							<ul class="detail">
								<li>在 HTTPS 端口重定向 HTTP</li>
								<li>PROXY 协议</li>
								<li class="nonstandard">Tailscale</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>超时</h4>
							<div class="benefits">
								设置超时是生产环境中的重要防御措施，但必须仔细调整以适应 legitimately 缓慢的客户端的大文件下载或上传。
							</div>
							<ul class="detail">
								<li>读取超时</li>
								<li>读取 HTTP 头部超时</li>
								<li>写入超时</li>
								<li>空闲超时</li>
								<li>TCP keepalive 间隔</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>全双工通信</h4>
							<div class="benefits">
								并非所有客户端都支持 HTTP/1 的并发读写，但可以针对需要此功能的特定客户端和应用启用。
							</div>
							<ul class="detail">
								<li>可配置用于 HTTP/1</li>
								<li>HTTP/2 默认</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>错误处理</h4>
							<div class="benefits">
								Caddy 让您完全控制错误处理，为客户提供最佳/所需的体验。
							</div>
							<div class="detail">
								自定义错误路由
							</div>
						</div>
						<div class="feature-row">
							<h4>TLS 终止</h4>
							<div class="benefits">
								终止 TLS（前称"SSL"），具有合理的默认值，您可以自定义这些默认值以对 TLS 握手进行细粒度控制。您可以根据各种因素（如 ServerName (SNI) 或远程 IP）为客户端分配策略。
							</div>
							<ul class="detail">
								<li>TLS 1.2</li>
								<li>TLS 1.3</li>
								<li>客户端认证（TLS 相互认证；mTLS）</li>
								<li>客户端认证模式：请求、必需、给定则验证、必需并验证</li>
								<li>密码套件</li>
								<li>曲线</li>
								<li>ALPN</li>
								<li>限制协议版本</li>
								<li>默认 SNI</li>
								<li>备用 SNI</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>跨站安全</h4>
							<div class="benefits">
								Caddy 经常在同一个套接字上服务多个站点，因此如果其中任何站点启用了 TLS 客户端认证，Caddy 会自动启用保护措施以保持您的站点安全。
							</div>
							<div class="detail">
								验证 TLS ServerName 和 HTTP 主机 头部匹配
							</div>
						</div>
						<div class="feature-row">
							<h4>访问日志</h4>
							<div class="benefits">
								启用零分配的结构化访问日志，以完全理解客户端请求和响应。使用 Caddy 的内置日志配置或第三方模块进行自定义。
							</div>
							<ul class="detail">
								<li>比通用日志格式 (CLF) 更有用</li>
								<li>请求头部（除敏感字段外）</li>
								<li>响应头部</li>
								<li>远程 IP</li>
								<li>延迟</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>可观测性</h4>
							<div class="benefits">
								您的 Web 服务器可以使用符合标准的指标进行监控。
							</div>
							<div class="detail">
								Prometheus 指标，OpenTelemetry
							</div>
						</div>
						<div class="feature-row">
							<h4>请求处理</h4>
							<div class="benefits">
								HTTP 服务器使用自定义路由处理请求，这些路由由您定义的特定处理器组成。可以定义单独的错误路由用于自定义错误处理。您对 HTTP 处理具有很高的灵活性。有关可用的 HTTP 处理器模块，请参见下文。
							</div>
							<div class="detail">
								可组合路由（和单独的错误处理路由）
							</div>
						</div>
						<div class="feature-row">
							<h4>请求过滤器</h4>
							<div class="benefits">
								使用匹配器仅将处理器应用于某些请求，匹配器根据各种属性对请求进行分类。匹配器也用于过滤。它们可扩展且可插拔，因此您的路由可以有多么具体和自定义没有限制！一些匹配器支持正则表达式。所有匹配器都很快。匹配器可以组合在一起，使用 AND、OR 和 NOT 逻辑连接。
							</div>
							<ul class="detail">
								<li>主机</li>
								<li>路径 </li>
								<li>方法</li>
								<li>头部</li>
								<li>协议</li>
								<li>远程 IP</li>
								<li>任意 CEL 表达式</li>
								<li>文件（存在、大小、修改日期）</li>
								<li>HTTP 路由变量</li>
								<li>逻辑非</li>
								<li class="nonstandard">地理位置</li>
								<li class="nonstandard">远程主机</li>
							</ul>
						</div>
					</div>

					<h3 class="blue">HTTP handlers</h3>

					<p>
						处理器是模块，可以组合在一起以按您想要的方式处理传入请求。处理器模块（与 Caddy 其余部分一样）可扩展且可插拔。我们不可能在这里列出所有处理器。
					</p>
					<p>
						实际上，处理器与匹配器配对，匹配器根据路径、头部、查询字符串、方法等各种属性过滤或分类请求。这使您可以有选择地将任何或所有这些处理器应用于特定请求。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>ACME 服务器</h4>
							<div class="benefits">
								开箱即用，Caddy 附带可用于生产的 ACME 服务器，非常适合您的内部 PKI。轻松自动化您基础设施内的 mTLS 证书。由<a href="https://smallstep.com">Smallstep</a>库驱动。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Authelia</h4>
							<div class="benefits">
								使用 Authelia 通过身份验证保护路由。
							</div>
						</div>
						<div class="feature-row">
							<h4>身份验证</h4>
							<div class="benefits">
								使用可扩展的身份验证模块对用户进行身份验证。由身份验证提供者扩展，如果用户无法由任何配置提供程序认证，此处理器返回错误。HTTP 基本认证为标准内置，与其他服务器不同，设置基本认证时密码会被哈希（因为它本质上是一个密码数据库），从而增强安全性。
							</div>
							<ul class="detail">
								<li>HTTP 基本认证</li>
								<li class="nonstandard">JWT</li>
								<li class="nonstandard">Discord</li>
								<li class="nonstandard">表单</li>
								<li class="nonstandard">SAML</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Advanced auth</h4>
							<div class="benefits">
								caddy-security 模块提供了一整套认证和授权功能，提供多种强大的认证解决方案。
							</div>
							<ul class="detail nonstandard">
								<li>基于表单</li>
								<li>本地</li>
								<li>基本</li>
								<li>LDAP</li>
								<li>OpenID Connect</li>
								<li>OAuth 2</li>
								<li>SAML</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Cache</h4>
							<div class="benefits">
								轻松启用缓存以服务更多客户端并提高性能。此缓存模块符合 RFC 7234，支持基于标签的缓存清理、分布式和本地存储、密钥生成调整等。支持多个后端！
							</div>
							<ul class="detail nonstandard">
								<li>Badger</li>
								<li>Etcd</li>
								<li>NutsDB</li>
								<li>Olric</li>
								<li>Redis</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>编码</h4>
							<div class="benefits">
								使用可插拔的编码模块即时压缩、编码或以其他方式转换 HTTP 响应。压缩响应就像一行配置一样简单，不会将编码应用于已经是压缩格式或太小而不值得的响应。
							</div>
							<ul class="detail">
								<li>Gzip</li>
								<li>Zstandard (zstd)</li>
								<li class="nonstandard">Brotli</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>文件服务器</h4>
							<div class="benefits">
								一个强大、灵活且高效的静态文件服务器，详见下文。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Go package vanity paths</h4>
							<div class="benefits">
								一个简单的处理器，为 Go 包实现自定义导入路径。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">gRPC-Web bridging</h4>
							<div class="benefits">
								将 gRPC-Web 请求桥接/转换为 gRPC 以供您的后端应用使用。
							</div>
						</div>
						<div class="feature-row">
							<h4>头部操作</h4>
							<div class="benefits">
								修改 HTTP 请求和响应头部。添加、设置、删除和替换头部字段中的子串很快，但也支持正则表达式用于高级用途。响应头部操作可以延迟到响应开始写入时才执行，甚至可以基于响应状态码或头部值设为条件。
							</div>
							<ul class="detail">
								<li>添加</li>
								<li>设置（覆盖）</li>
								<li>删除</li>
								<li>子串替换</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Image filtering</h4>
							<div class="benefits">
								即时对图像进行调整。
							</div>
							<ul class="detail nonstandard">
								<li>裁剪</li>
								<li>适应</li>
								<li>翻转</li>
								<li>调整大小</li>
								<li>旋转</li>
								<li>锐化</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>映射</h4>
							<div class="benefits">
								根据输入值分配变量/占位符值；类似于查找表。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Mercure</h4>
							<div class="benefits">
								将您的 Caddy 实例变为 Mercure 枢纽：一种开放、简单、快速、可靠且省电的实时通信解决方案。
							</div>
						</div>
						<div class="feature-row">
							<h4>指标</h4>
							<div class="benefits">
								公开一个/metrics 端点，供 Prometheus 兼容系统和其他监控工具使用。
							</div>
						</div>
						<div class="feature-row">
							<h4>HTTP/2 服务器推送</h4>
							<div class="benefits">
								在 HTTP/2 使用时，在客户端请求之前主动推送资源给客户端。（可能已被浏览器弃用，但 Caddy 仍然有有效的实现，在某些应用中很有用。）
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">Rate limiting</h4>
							<div class="benefits">
								高级企业级速率限制器，使用环形缓冲区和滑动窗口算法实现，基于区域键大规模扩展。配置具有相同存储的 Caddy 实例集群，在您的集群上分布式地进行速率限制。不需要其他企业服务器那样的内存限制。
							</div>
							<ul class="nonstandard">
								<li>本地 or distributed</li>
								<li>多个区域</li>
								<li>缓冲池</li>
								<li>仅 1 个 goroutine</li>
								<li>可配置的 O(Kn) 内存管理</li>
								<li>重载期间状态持久化</li>
								<li>设置 Retry-After 头部</li>
								<li>可选抖动</li>
								<li>高度可编程</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>请求体控制</h4>
							<div class="benefits">
								通过拒绝过大的请求来限制请求体的大小。
							</div>
						</div>
						<div class="feature-row">
							<h4>反向代理</h4>
							<div class="benefits">
								Caddy 拥有一流的世界级反向代理，详见下文。
							</div>
						</div>
						<div class="feature-row">
							<h4>重写请求</h4>
							<div class="benefits">
								在继续处理请求之前对请求进行内部更改。这对于接受需要更改以符合后续期望的请求很有用。请求的各个部分可以进行更改，如方法和 URI。
							</div>
							<ul class="detail">
								<li>方法</li>
								<li>URI（路径、查询字符串）</li>
								<li>去除路径前缀或后缀</li>
								<li>正则表达式支持</li>
								<li>智能 URL 编码和正斜杠处理</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>静态响应</h4>
							<div class="benefits">
								将静态响应硬编码到您的配置中，可以设置状态码、头部字段和主体。（这通常用于以 HTTP 重定向响应。）然后可以优雅地关闭连接，或在需要时强制中止。
							</div>
						</div>
						<div class="feature-row">
							<h4>子路由</h4>
							<div class="benefits">
								将处理器分组到"子路由"中，将多个处理器视为一个，使某些逻辑更容易推理。
							</div>
						</div>
						<div class="feature-row">
							<h4>模板</h4>
							<div class="benefits">
								响应可以作为模板进行评估，赋予您将代理或静态内容转换为丰富的动态内容的能力，包括变量、条件语句、Markdown 渲染（支持 front matter）等。
							</div>
						</div>
						<div class="feature-row">
							<h4>追踪</h4>
							<div class="benefits">
								支持使用 OpenTelemetry 进行分布式追踪。
							</div>
						</div>
						<div class="feature-row">
							<h4>变量</h4>
							<div class="benefits">
								读取和写入可以在处理请求时内部使用的变量。
							</div>
						</div>
						<div class="feature-row">
							<h4 class="nonstandard">WebDAV</h4>
							<div class="benefits">
								用一到两行配置变成 WebDAV 服务器。与大多数 WebDAV 客户端兼容。
							</div>
						</div>
					</div>
				</div>
			</section>



			<section class="diagonal up gray feature">
				<div class="wrapper">
					<h2>
						Reverse proxy
					</h2>
					<p>
						Caddy 拥有世界上最灵活的通用反向代理，具有先进的请求和响应处理、动态路由、健康检查、负载均衡、熔断等功能。
					</p>
					<p>
						Caddy 代理的独特之处在于其设计。代理的客户端-facing 侧只需是 HTTP；与后端往返的底层传输可以通过任何协议实现！
					</p>
					<p>
						此外，我们的代理可以使用高度动态的上游进行编程。也就是说，可用的上游可以在请求进行中时改变！如果没有可用后端，Caddy 可以保持请求直到有可用后端。
					</p>

					<h3 class="blue">High-level proxy features</h3>

					<div class="feature-list">
						<div class="feature-row">
							<h4>传输协议</h4>
							<div class="benefits">
								传输协议是 Caddy 从后端获取响应的方式。通过使用替代传输模块，Caddy 的代理可以成为 HTTP 之外的协议的入口。这允许 Caddy 从不支持 HTTP 的后端生成 HTTP 响应！
							</div>
							<ul class="detail">
								<li>HTTP</li>
								<li>FastCGI</li>
								<li class="nonstandard">NTLM</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>负载均衡</h4>
							<div class="benefits">
								选择上游是现代反向代理的关键功能之一。Caddy 提供多种内置负载均衡策略可供选择，适合任何生产服务。一些策略极快且轻量级；其他策略基于客户端或请求的属性提供上游亲和性；还有一些策略通过计数连接或使用随机性和权重来实现均衡分布。
							</div>
							<ul class="detail">
								<li>随机</li>
								<li>随机 Choose-N</li>
								<li>最少连接</li>
								<li>轮询</li>
								<li>加权轮询</li>
								<li>第一个可用</li>
								<li>远程 IP hash</li>
								<li>客户端 IP 哈希</li>
								<li>URI 哈希</li>
								<li>查询哈希</li>
								<li>头部哈希</li>
								<li>Cookie 哈希</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>熔断</h4>
							<div class="benefits">
								熔断模块可以在后端实际宕机之前暂时将其标记为宕机，以保持其运行。
							</div>
							<div class="detail nonstandard">
								延迟-based
							</div>
						</div>
						<div class="feature-row">
							<h4>健康检查</h4>
							<div class="benefits">
								健康检查检测上游何时不可用。被动健康检查从实际请求推断状态。主动健康检查在后台工作，与客户端请求无关。
							</div>
							<ul class="detail">
								<li>主动</li>
								<li>被动</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>可观测性</h4>
							<div class="benefits">
								管理 API 公开了一个端点，用于检索代理上游的流量计数和健康状态。
							</div>
						</div>
						<div class="feature-row">
							<h4>上游源</h4>
							<div class="benefits">
								Caddy 可以通过多种方式获取上游列表。最常见的是将它们写入配置（静态）。其他方式是动态的，即为每个请求返回上游列表（这些使用可配置的缓存来提高性能）。 
							</div>
							<ul class="detail">
								<li>静态</li>
								<li>动态：A 记录</li>
								<li>动态：SRV 记录</li>
								<li>动态：多个源组合</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>重试</h4>
							<div class="benefits">
								请求可以重试，直到有后端可用成功处理请求。在此期间，即使请求仍在挂起，上游列表也可能被更新！
							</div>
						</div>
						<div class="feature-row">
							<h4>流式传输</h4>
							<div class="benefits">
								响应可以直接流式传输到客户端，或者为了更好的网络性能，稍微缓冲并定期刷新。
							</div>
						</div>
						<div class="feature-row">
							<h4>受信任的代理</h4>
							<div class="benefits">
								为了使用与代理相关的头部如 X-Forwarded-For，您可以指定一组您信任的代理的 IP 范围。默认情况下 Caddy 不信任客户端。
							</div>
						</div>
						<div class="feature-row">
							<h4>头部操作</h4>
							<div class="benefits">
								头部 can be modified in the request going up to the backend and the response coming back down from the backend. This is similar to the general HTTP server's header handler, but this is applied while proxying.
							</div>
							<ul class="detail">
								<li>添加</li>
								<li>设置（覆盖）</li>
								<li>删除</li>
								<li>子串替换</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>缓冲</h4>
							<div class="benefits">
								代理可以可选地在刷新之前读取整个主体。这使用更多内存，但某些后端应用或客户端在某些情况下可能需要。
							</div>
							<ul class="detail">
								<li>请求</li>
								<li>响应</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>请求重写</h4>
							<div class="benefits">
								重写是与代理不同的关注点，通常单独处理，但有时您需要使用来自代理的信息（如选择的上游）重写请求。Caddy 的代理允许您这样做。
							</div>
						</div>
						<div class="feature-row">
							<h4>响应拦截</h4>
							<div class="benefits">
								默认情况下，Caddy 的代理只是将响应写入客户端。但是，您可以拦截上游的响应并以其他方式处理它。这包括仅匹配某些响应并调用您指定的自定义处理器链。
							</div>
						</div>
					</div>

					<h3 class="green">主动 health checks</h3>
					<p>
						主动 health checks assume a backend is down by default until that is confirmed otherwise by a health check.
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>HTTP 请求参数</h4>
							<div class="benefits">
								主动 health checks are performed against an HTTP endpoint on the upstream. You can customize the parameters for these HTTP requests to work for you.
							</div>
							<ul class="detail">
								<li>路径 &amp; query string</li>
								<li>端口</li>
								<li>头部</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>定时</h4>
							<div class="benefits">
								您可以自定义执行主动健康检查的间隔。
							</div>
						</div>
						<div class="feature-row">
							<h4>成功标准</h4>
							<div class="benefits">
								每个主动健康检查都可以用一组标准来自定义以确定健康或不健康状态。
							</div>
							<ul class="detail">
								<li>响应超时</li>
								<li>HTTP 状态码</li>
								<li>主体正则表达式匹配</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>故障安全</h4>
							<div class="benefits">
								正在经历问题和困难的 backing 有时会响应意外大的响应主体。Caddy 允许您限制这一点以保护代理资源。
							</div>
							<div class="detail">
								限制响应大小
							</div>
						</div>
					</div>

					<h3 class="purple">被动 health checks</h3>
					<p>
						被动 health checks assume a backend is up by default until failure criteria are met in the course of proxying requests.
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>失败标准</h4>
							<div class="benefits">
								所有被动健康检查都计算连接失败。此外，您可以设置更多标准以在请求期间将后端视为健康。
							</div>
							<ul class="detail">
								<li>并发请求限制超出</li>
								<li>HTTP 状态</li>
								<li>延迟</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>故障记忆</h4>
							<div class="benefits">
								您可以自定义记住失败的时长以及内存中需要多少失败才认为后端宕机。
							</div>
						</div>
					</div>


					<h3 class="blue">HTTP transport</h3>
					<p>
						这是默认传输模块。它构造代理 HTTP 请求以从后端获取 HTTP 响应。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>DNS 解析器</h4>
							<div class="benefits">
								默认使用系统解析器，但您可以为每个代理处理器指定自定义 DNS 解析器。
							</div>
						</div>
						<div class="feature-row">
							<h4>TLS</h4>
							<div class="benefits">
								Caddy 可以配置为支持与上游的 TLS（前称 SSL）。
							</div>
							<ul class="detail">
								<li>自定义根 CA 池</li>
								<li>向后端的客户端认证</li>
								<li>自定义握手超时</li>
								<li>服务器名称指示 (SNI)</li>
								<li> renegotiation 级别</li>
								<li>某些端口豁免 TLS</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>连接池</h4>
							<div class="benefits">
								到后端的连接进行池化以实现最大效率和最小延迟。
							</div>
							<ul class="detail">
								<li>HTTP Keep-Alive</li>
								<li>自定义探测间隔</li>
								<li>最大空闲连接（总计和每主机）</li>
								<li>空闲连接超时</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>压缩</h4>
							<div class="benefits">
								Caddy 可以压缩与后端的往返请求。
							</div>
							<div class="detail">
								Gzip
							</div>
						</div>
						<div class="feature-row">
							<h4>连接限制</h4>
							<div class="benefits">
								您可以限制每主机的连接数。
							</div>
						</div>
						<div class="feature-row">
							<h4>PROXY 协议</h4>
							<div class="benefits">
								The PROXY 协议 v1 and v2 are both supported when connecting to upstreams.
							</div>
						</div>
						<div class="feature-row">
							<h4>超时</h4>
							<div class="benefits">
								可以配置各种超时；一些具有合理的默认值。
							</div>
							<ul class="detail">
								<li>连接（拨号）</li>
								<li>RFC 6555 回退</li>
								<li>读取响应头部</li>
								<li>期望继续</li>
								<li>Read</li>
								<li>Write</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>自定义缓冲区大小</h4>
							<div class="benefits">
								如果发现您的应用在某些设置下性能更好，请调整读写缓冲区的大小。
							</div>
							<ul class="detail">
								<li>读取缓冲区</li>
								<li>写入缓冲区</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>HTTP 版本</h4>
							<div class="benefits">
								Caddy 的代理支持与后端的多种 HTTP 版本。默认支持 HTTP/1.1 和 HTTP/2。
							</div>
							<ul class="detail">
								<li>HTTP/1.1</li>
								<li>HTTP/2</li>
								<li>H2C (HTTP/2 over cleartext)</li>
							</ul>
						</div>
					</div>

					<h3 class="green">FastCGI transport</h3>
					<p>
						FastCGI 通常用于通过 php-fpm 提供 PHP 应用。FastCGI 响应者可能需要关于正在运行的脚本的附加信息，如脚本名称、相对于根的路径等，Caddy 的 FastCGI 传输处理所有这些并使其可配置。
					</p>

					<div class="feature-list">
						<div class="feature-row">
							<h4>高效</h4>
							<div class="benefits">
								Caddy 的 FastCGI 客户端实现已优化，可与用 C 编写的内存不安全客户端的性能相媲美，有时甚至超越它们的性能。
							</div>
						</div>
						<div class="feature-row">
							<h4>路径分割</h4>
							<div class="benefits">
								路径可以被分割，通常在扩展处，以计算正确的 PATH_INFO 变量。
							</div>
						</div>
						<div class="feature-row">
							<h4>解析根符号链接</h4>
							<div class="benefits">
								可选要求声明为符号链接的路径在符号链接更改时更新，而无需重启 php-fpm。
							</div>
						</div>
						<div class="feature-row">
							<h4>环境变量</h4>
							<div class="benefits">
								从父环境读取，并为您的 CGI 脚本设置自定义环境变量。
							</div>
						</div>
						<div class="feature-row">
							<h4>超时</h4>
							<div class="benefits">
								设置超时以节省资源。
							</div>
							<ul class="detail">
								<li>拨号（连接）</li>
								<li>Read</li>
								<li>Write</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>捕获标准错误</h4>
							<div class="benefits">
								Caddy 可以捕获来自上游的标准错误输出并记录它们以提高可见性。
							</div>
						</div>
					</div>
					
				</div>
			</section>


			<section class="feature">
				<div class="wrapper">
					<h2>
						静态 file server
					</h2>
					<p>
						Caddy 的文件服务器是您网站提供静态文件的首要方式。 
					</p>
					<p>
						很简单：指定一个根目录用于提供文件，然后每个请求路径自动附加到根目录以获取要提供的文件的完整路径。
					</p>
					<div class="feature-list">
						<div class="feature-row">
							<h4>内核加速</h4>
							<div class="benefits">
								Caddy 在可能的情况下绕过用户空间缓冲区，以显著提高文件下载速度。
							</div>
							<div class="detail">
								sendfile
							</div>
						</div>
						<div class="feature-row">
							<h4>虚拟文件系统</h4>
							<div class="benefits">
								默认情况下，Caddy 从您在本地磁盘上指定的目录提供文件，但此文件访问是可插拔的，可以被任何虚拟化文件系统模块替换。这允许您从任何文件存储（如数据库、云存储，甚至直接嵌入 Web 服务器二进制文件中的资产）提供静态文件！
							</div>
							<ul class="detail">
								<li>本地 disk</li>
								<li class="nonstandard">嵌入式资产</li>
								<li class="nonstandard">Amazon AWS S3</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>预压缩文件</h4>
							<div class="benefits">
								如果您的部署管道压缩了站点资源，Caddy 可以自动检测它们并以"预压缩"编码提供它们，以获得更高的效率和更大的吞吐量。
							</div>
							<ul class="detail">
								<li>Brotli</li>
								<li>Zstandard</li>
								<li>Gzip</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>隐藏文件和文件夹</h4>
							<div class="benefits">
								通过主动隐藏站点根目录中存在或可能存在的可能敏感文件和文件夹来提高您的安全态势。您可以指定单个文件/文件夹路径、文件名（无论其路径如何），或通配符匹配以隐藏具有特定模式的文件/文件夹。
							</div>
							<div class="detail">
								精确路径、文件名、通配符匹配
							</div>
						</div>
						<div class="feature-row">
							<h4>索引文件名</h4>
							<div class="benefits">
								索引文件是当客户端请求目录时提供的文件。要查找的索弓丨文件名可自定义。如果在请求的目录中未找到索引文件，可以可选地启用目录浏览。
							</div>
							<div class="detail">
								index.html、index.txt（可自定义）
							</div>
						</div>
						<div class="feature-row">
							<h4>条件请求</h4>
							<div class="benefits">
								支持 Etag、Last-Modified 和相关头部。
							</div>
							<ul class="detail">
								<li>Etag</li>
								<li>Last-Modified</li>
								<li>If-Match</li>
								<li>If-无-Match</li>
								<li>If-Modified-Since</li>
								<li>If-Unmodified-Since</li>
								<li>If-Range</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>范围请求</h4>
							<div class="benefits">
								对于流式传输大文件和恢复下载很常见，请求特定文件范围的客户端不会感到失望或惊讶。Caddy 正确处理带有 Range 头的 HTTP 请求。
							</div>
						</div>
						<div class="feature-row">
							<h4>规范化路径</h4>
							<div class="benefits">
								通常，单个文件或目录有多个 URI。例如：/、/index.html 和/index.html/代表相同的资源。Caddy 使用 HTTP 重定向强制执行路径规范化（从文件中移除尾随斜杠，为目录添加它们）。
							</div>
						</div>
						<div class="feature-row">
							<h4>透传模式</h4>
							<div class="benefits">
								有时您只想在文件存在时提供服务，否则继续处理链中的下一个处理器，而不是向客户端返回错误。
							</div>
						</div>
					</div>

					

					<div class="split">
						<div>
							<h3 class="blue">File browser</h3>
							<p>
								Caddy 的文件服务器通过其现代文件浏览器焕发生机，在移动设备和桌面设备上看起来都很有吸引力。它比其他任何标准 HTTP 文件服务器都具有更多功能和实用性！
							</p>
						</div>
						<picture>
							<source srcset="/resources/images/file-browser/browse-corner-dark.png" media="(prefers-color-scheme: dark)">
							<img src="/resources/images/file-browser/browse-corner-light.png">
						</picture>
					</div>

					<div class="feature-list">
						<div class="feature-row">
							<h4>文件夹列表</h4>
							<div class="benefits">
								当文件夹中不存在索弓丨文件（如下）时，显示文件夹中的文件列表。
							</div>
							<div class="detail">
								精确路径、文件名、通配符匹配
							</div>
						</div>
						<div class="feature-row">
							<h4>日间和夜间主题</h4>
							<div class="benefits">
								配色方案自动调整以匹配系统主题，无论是浅色还是深色，以避免使您致盲或难以阅读。
								<picture>
									<source srcset="/resources/images/file-browser/browse-themes-2.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/browse-themes.png">
								</picture>
							</div>
							<ul class="detail">
								<li>浅色模式</li>
								<li>深色模式</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>按列排序</h4>
							<div class="benefits">
								快速提炼有关每个目录的信息，并通过固定列排序更快地查找项目。
							</div>
							<ul class="detail">
								<li>文件/目录</li>
								<li>Name</li>
								<li>大小</li>
								<li>修改日期</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>筛选</h4>
							<div class="benefits">
								每次页面加载自动将光标聚焦到搜索框，因此您可以开始输入文件名并立即过滤大量列表。
								<picture>
									<source srcset="/resources/images/file-browser/browse-search-dark.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/browse-search-light.png">
								</picture>
							</div>
						</div>
						<div class="feature-row">
							<h4>布局</h4>
							<div class="benefits">
								文件可以根据您希望查看列表的方式以不同的布局显示。例如，网格视图非常适合画廊。
								<picture>
									<source srcset="/resources/images/file-browser/browse-gallery-dark.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/browse-gallery-light.png">
								</picture>
							</div>
							<ul class="detail">
								<li>List</li>
								<li>网格</li>
							</ul>
						</div>
						<div class="feature-row">
							<h4>响应式设计</h4>
							<div class="benefits">
								页面宽度流畅调整以适应各种尺寸的屏幕。链接大小适中，在触摸屏上易于点击，同时仍然信息密集到足以有用。
							</div>
						</div>
						<div class="feature-row">
							<h4>JSON API</h4>
							<div class="benefits">
								请求 with an <code>Accept-Encoding: application/json</code> header will be replied to with a JSON payload for programmatic or scripted access to your file listing.
							</div>
						</div>
						<div class="feature-row">
							<h4>可自定义的列表模板</h4>
							<div class="benefits">
								如果默认模板不合适或您想增加趣味性，自定义浏览模板以按您想要的外观和行为！
							</div>
						</div>
						<div class="feature-row">
							<h4>文件大小可视化</h4>
							<div class="benefits">
								文件大小由它们后面条的长度指示，使快速轻松查找异常大和小文件或一目了然比较相对大小成为可能。
								<picture>
									<source srcset="/resources/images/file-browser/browse-size-dark.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/browse-size-light.png">
								</picture>
							</div>
						</div>
						<div class="feature-row">
							<h4>文件类型图标</h4>
							<div class="benefits">
								文件服务器识别数十种常见文件类型，并显示相关图标，使扫描页面时更容易识别。
								<picture>
									<source srcset="/resources/images/file-browser/icons-all-dark.png" media="(prefers-color-scheme: dark)">
									<img src="/resources/images/file-browser/icons-all-light.png">
								</picture>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="diagonal down gray feature">
					<div class="construction">
						<div class="construction-images">
							{{$n := randInt 0 5}}
							{{if eq $n 1}}
							<img src="/resources/images/nostalgia/under-construction-caution-tape.gif">
							<img src="/resources/images/nostalgia/under-construction-sign.gif">
							<img src="/resources/images/nostalgia/under-construction-caution-tape.gif">
							{{else if eq $n 2}}
							<img src="/resources/images/nostalgia/under-construction-blink.gif">
							<img src="/resources/images/nostalgia/under-construction-blink.gif">
							<img src="/resources/images/nostalgia/under-construction-blink.gif">
							{{else if eq $n 3}}
							<img src="/resources/images/nostalgia/under-construction-barricade.gif">
							{{else if eq $n 4}}
							<img src="/resources/images/nostalgia/sorry-under-construction.gif">
							{{else}}
							<img src="/resources/images/nostalgia/under-construction-cones.gif">
							{{end}}
						</div>
						<p>
							Caddy 是一个充满活力的项目，拥有大量功能。此页面尚未列出 Caddy 提供的所有功能和优势，因为有很多需要提及。我们欢迎在 GitHub 上的<a href="https://github.com/caddyserver/website">贡献</a>！
						</p>
					</div>
					
				</div>
			</section>


			<!--

				TODO:
					- Admin API (including debug endpoints)
					- HTTP handlers
					- PKI facilities
					- 
			-->

		</main>


		{{include "/includes/footer.html"}}
	</body>
</html>
