<!DOCTYPE html>
<html>
	<head>
		<title>Caddy - 终极服务器，自带自动HTTPS</title>
		{{import "/includes/head.html"}}
		{{template "head" .}}
		<link rel="stylesheet" href="/resources/css/vendor/asciinema-player-3.6.1.css{{template "cacheBust"}}">
		<script src="/resources/js/vendor/asciinema-player-3.6.1.min.js{{template "cacheBust"}}"></script>
		<script src="/resources/js/home.js{{template "cacheBust"}}"></script>
		
		<link rel="stylesheet" href="/resources/css/marketing.css{{template "cacheBust"}}">
		<link rel="stylesheet" href="/resources/css/home.css{{template "cacheBust"}}">

		<!-- <meta property="og:title" content="Caddy 2 - 终极服务器，自带自动HTTPS">
			<meta name="twitter:title" value="Caddy 2 - 终极服务器，自带自动HTTPS"> -->
	</head>
	<body>
		<div class="hero">
			{{include "/includes/header.html" "dark-header"}}
			
			<div class="wrapper">
				<div class="hero-content">
					<div class="asides">
						<div>
							<h1>
								<div class="color-dodge">
									<div class="the">The</div>
									终极服务器
								</div>
								<div class="subheading">
									使您的网站比任何其他解决方案<b>更安全</b>、<b>更可靠</b>、<b>更具可扩展性</b>。
								</div>
							</h1>

							<div class="action-buttons">
								<a href="/download" class="button primary">下载</a>
								<a href="/docs/" class="button cool">文档<sh></sh></a>
								<iframe src="https://ghbtns.com/github-btn.html?user=caddyserver&amp;repo=caddy&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="160px" height="30px" class="github-stars"></iframe>
							</div>
						</div>
						<div>
							<div class="display right">
								<div class="caption">
									<div id="video-demo"></div>
									实时观看Caddy在不到1分钟内提供HTTPS服务。
								</div>
							</div>
						</div>
					</div>

					<div class="sponsors-leaders">
						<!-- <h3>受到<b>领导者</b>的信任、使用和赞助</h3> -->
						<h3>由<b>领导者</b>赞助</h3>
						
						<!--
							图片没有特定顺序，只是第一行为特色（更高层级）赞助商。
							图片经过单独调整，以使其在行内看起来大致大小和权重均匀。
						-->

						<div class="sponsor-logos">
							<a href="https://zerossl.com" target="_blank">
								<img src="/resources/images/sponsors/zerossl.svg" alt="ZeroSSL" title="ZeroSSL" height="55">
							</a>
							<a href="https://stripe.com" target="_blank">
								<img src="/resources/images/sponsors/stripe.svg" alt="Stripe" title="Stripe" class="featured" height="52">
							</a>
							<a href="https://railway.com/?utm_medium=sponsor&utm_source=oss&utm_campaign=caddy" target="_blank">
								<img src="/resources/images/sponsors/railway.svg" alt="Railway" title="Railway" class="featured" height="75" style="margin-left: -15px;">
							</a>
						</div>
						<div class="sponsors-divider"></div>
						<div class="sponsor-logos">
							<!-- <a href="https://opensource.mercedes-benz.com/" target="_blank">
								<img src="/resources/images/sponsors/mercedes-benz.svg" alt="Mercedes-Benz" title="Mercedes-Benz" height="38">
							</a> -->
							<a href="https://tailscale.com" target="_blank">
								<img src="/resources/images/sponsors/tailscale.svg" alt="Tailscale" title="Tailscale" height="22">
							</a>
							<a href="https://bytebase.com" target="_blank">
								<img src="/resources/images/sponsors/bytebase.svg" alt="Bytebase" title="Bytebase" height="28">
							</a>
							<a href="https://les-tilleuls.coop/" target="_blank">
								<img src="/resources/images/sponsors/les-tilleuls-white.svg" alt="Les-Tilleuls" title="Les-Tilleuls" height="25">
							</a>
							<a href="https://framer.com" target="_blank">
								<img src="/resources/images/sponsors/framer.svg" alt="Framer" title="Framer" height="32">
							</a>
							<a href="https://hopetv.org/" target="_blank">
								<img src="/resources/images/sponsors/hopetv.png" alt="Hope Channel" title="Hope Channel" height="42">
							</a>
							<a href="https://sourcegraph.com/" target="_blank">
								<img src="/resources/images/sponsors/sourcegraph.png" alt="Sourcegraph" title="Sourcegraph" height="23">
							</a>
							<a href="https://fusionauth.com" target="_blank">
								<img src="/resources/images/sponsors/fusionauth.svg" alt="FusionAuth" title="FusionAuth" height="35">
							</a>
							<a href="https://www.aryeo.com" target="_blank">
								<img src="/resources/images/sponsors/aryeo.svg" alt="Aryeo" title="Aryeo" height="26">
							</a>
							<a href="https://checklyhq.com" target="_blank">
								<img src="/resources/images/sponsors/checkly.svg" alt="Checkly" title="Checkly" height="24" style="position: relative; top: 3px;">
							</a>
							<a href="https://appcove.com/" target="_blank">
								<img src="/resources/images/sponsors/appcove.png" alt="AppCove" title="AppCove" height="24">
							</a>
							<a href="https://transistor.fm" target="_blank">
								<img src="/resources/images/sponsors/transistorfm.svg" alt="Transistor" title="Transistor" height="32">
							</a>
							<a href="https://bestkru.com" target="_blank">
								<img src="/resources/images/sponsors/bestkru.svg" alt="BestKru" title="BestKru" height="26">
							</a>
							<a href="https://photostructure.com/" target="_blank">
								<img src="/resources/images/sponsors/photostructure.svg" alt="PhotoStructure" title="PhotoStructure" height="30">
							</a>
							<!-- <a href="https://gitea.com/" target="_blank">
								<img src="/resources/images/sponsors/gitea.svg" alt="Gitea" title="Gitea" height="25">
							</a> -->
							<a href="https://boot.dev/" target="_blank">
								<img src="/resources/images/sponsors/bootdev.png" alt="Boot.dev" title="Boot.dev" height="25">
							</a>
							<a href="https://saascustomdomains.com/" target="_blank">
								<img src="/resources/images/sponsors/saascustomdomains.svg" alt="SaaS Custom Domains" title="SaaS Custom Domains" height="25">
							</a>
							<a href="https://redirect.pizza/?utm_campaign=caddyserver.com&utm_medium=logo&utm_source=sponsor" target="_blank">
								<img src="/resources/images/sponsors/redirect-pizza.svg" alt="Redirect.pizza" title="Redirect.pizza" height="26">
							</a>
							<a href="https://approximated.app/" target="_blank">
								<img src="/resources/images/sponsors/approximated.svg" alt="Approximated" title="Approximated" height="18">
							</a>
							<a href="https://aniftyco.com/" target="_blank">
								<img src="/resources/images/sponsors/niftyco.svg" alt="Niftyco" title="Niftyco" height="23">
							</a>
							<a href="https://iqm.com/" target="_blank">
								<img src="/resources/images/sponsors/iqm.svg" alt="IQM" title="IQM" height="22">
							</a>
							<a href="/sponsor" class="button purple">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-new-section" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M9 12l6 0"></path>
									<path d="M12 9l0 6"></path>
									<path d="M4 6v-1a1 1 0 0 1 1 -1h1m5 0h2m5 0h1a1 1 0 0 1 1 1v1m0 5v2m0 5v1a1 1 0 0 1 -1 1h-1m-5 0h-2m-5 0h-1a1 1 0 0 1 -1 -1v-1m0 -5v-2m0 -5"></path>
								</svg>
								加入行列
							</a>
						</div>
						<!-- <a href="#">为什么赞助</a> -->
						<!-- <a href="/sponsor" class="button purple">赞助信息</a> -->
					</div>
				</div>
			</div>
		</div>


		<main>

			<div class="wavy-top">
				<div class="bgtext">
					每个<br>
					<span class="site-on">网站都</span><br>
					HTTPS
				</div>
				<h2 id="every-site-https">
					<b>默认情况下，</b>Caddy <b>自动获取</b>并<b>续签</b>所有网站的TLS证书。
				</h2>

				<div class="wrapper feature cols">
					<div class="col">
						<h3 class="purple">自定义域名的HTTPS/TLS</h3>
						<p>
							几乎所有白标SaaS的秘密武器都是Caddy原创的按需TLS功能。轻松将您的SaaS业务规模提升数个数量级！
						</p>
					</div>
					<div class="col">
						<h3 class="green">动态提供证书</h3>
						<p>
							通过按需TLS，只有Caddy在TLS握手期间动态获取、续签和维护证书。非常适合客户自有域名。
						</p>
					</div>
					<div class="col">
						<h3 class="blue">大规模扩展您的TLS</h3>
						<p>
							其他Web服务器和脚本化证书工具在数十万个站点或数千个实例中崩溃。Caddy旨在可靠地管理如此规模的证书。
						</p>
					</div>
				</div>

				<div class="wrapper">
					<div class="cols">
						<div class="col">
							<div class="sponsorship-primer">
								<h3>由<b>像您这样的用户</b>赞助</h3>
								<p>
									Caddy是免费软件，依靠赞助生存。不仅仅是捐赠：赞助确保持续开发，并为您的业务提供切实利益。
								</p>
								<a href="/sponsor" class="button purple">查看赞助</a>
							</div>
						</div>
						<div class="col">
							<div class="sponsor-experience hopetv">
								<img src="/resources/images/sponsors/hopetv.png" class="experience-logo">
								<div class="experience-content">
									<div class="experience-quote">
										"Caddy强大的技术使Hope Channel International能够向数百万人传递希望，触及世界每个角落的人们。"
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section class="light">
				<div class="section-upset">
					<div class="wrapper">
						<h2 id="most-advanced">世界上<b>最先进</b>的HTTPS服务器</h2>
					</div>
				</div>
				<div class="wrapper">
					
					<div class="feature cols">
						<div class="col">
							<h3 class="green">TLS和PKI所需的一切 🔐</h3>
							<p>
								默认情况下，Caddy使用TLS安全地为所有站点提供服务。它还可以跨服务器和客户端集群为您管理内部PKI。
							</p>
						</div>
						<div class="col">
							<h3 class="purple">在线配置API ⚡️</h3>
							<p>
								Caddy的原生配置是一个JSON文档，您可以使用RESTful配置API导出和操作。
							</p>
						</div>
						<div class="col">
							<h3 class="blue">符合PCI、HIPAA和NIST ✅</h3>
							<p>
								Caddy的TLS默认设置是安全的，并且通过PCI、HIPAA和NIST合规要求。是的，默认设置：无需任何麻烦。
							</p>
						</div>
						<div class="col">
							<h3 class="purple">用于localhost的HTTPS 🏠</h3>
							<p>
								我们说Caddy为每个网站提供HTTPS服务，我们是认真的。即使是localhost和内部IP也使用完全自动化、自管理的CA的中级证书提供TLS服务，该CA会自动安装到大多数本地信任存储中。
							</p>
						</div>
						<div class="col">
							<h3 class="blue">集群协调 🌐</h3>
							<p>
								只需配置多个具有相同存储的Caddy实例，它们将自动作为一个集群协调证书管理，并共享密钥和OCSP装订等资源！
							</p>
						</div>
						<div class="col">
							<h3 class="green">更少的移动部件 ⚙️</h3>
							<p>
								简化您的基础设施！Caddy节省资金，提高开发人员生产力，并减少生产中的问题。
							</p>
						</div>
					</div>

					<div class="demobox">
						<h2 id="on-demand-demo" lang="de">体验它</h2>
						<p>
							<b>通过我们的托管演示发现Caddy自动化的HTTPS功能。</b>
						</p>
						<p>
							为名为<b><code>caddydemo</code></b>的任何子域名将DNS记录指向以下之一：
						</p>
						<p class="demo-ips">
							<code>
								<span class="record-type">CNAME</span>
								<span class="demo-ip">demo.caddyserver.com</span>
							</code>
						</p>
						<p class="or">
							或：
						</p>
						<p class="demo-ips">
							<code>
								<span class="record-type">A</span>
								<span class="demo-ip">138.68.4.62</span>
							</code>
							<code>
								<span class="record-type">AAAA</span>
								<span class="demo-ip">2604:a880:2:d0::9dd:9001</span>
							</code>
						</p>
						<p>
							然后在浏览器中<b>访问它</b>。
						</p>
						<p>
							您会注意到Caddy如何<b>自动为您的域名提供证书</b>。
						</p>
						<div class="demo-help">
							<p>
								<b>不起作用？</b>确保使用注册域名的直接子域名，而不是“子-子域名”。验证您已创建上面显示的公共DNS记录，并具有正确的值。您可能需要等待传播时间。请咨询您的DNS提供商的文档或支持以获得帮助。您的浏览器/客户端必须设置TLS ServerName指示（大多数都支持）。
							</p>
							<p>
								<b>可能有效的子域名示例：</b> <code>caddydemo.example.net</code>，<code>caddydemo.example.com.au</code>
							</p>
							<p>
								Caddy能够为任何域名和IP提供TLS服务。此演示有意限制。
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="diagonal up light gray feature">
				<div class="wrapper">

					<h2 id="your-own-pki">使用Caddy部署您自己的PKI</h2>
					<p>
						Caddy不仅是证书自动化领域的行业领导者，它还拥有功能齐全的PKI套件，用于您自己的完全自动化的内部PKI和私有CA。
					</p>
					<p>
						由开源<a href="https://smallstep.com/certificates/">Smallstep库</a>驱动，Caddy成为一个自我管理的证书颁发机构。
					</p>
					

					<div class="asides">
						<div>
							<div class="display left">
								{{ markdown (include "/includes/examples/local-https.md") }}
							</div>
						</div>
						<div>
							<h3 class="purple">内部和localhost证书</h3>
							<p>
								如果您配置本地或内部地址的站点，Caddy将使用本地信任的证书颁发机构通过HTTPS为它们提供服务，该机构使用短期、自动续签的证书。它甚至会自动提供将您的唯一根证书安装到本地信任存储中的选项。
							</p>
							<a href="https://smallstep.com" title="由Smallstep驱动"><img src="/resources/images/sponsors/smallstep.svg" alt="Smallstep" class="smallstep"></a>
						</div>
					</div>

					<div class="asides">
						<div>
							<h3 class="blue">创建并使用您自己的CA</h3>
							<p>
								Caddy允许您根据需要定义任意数量的CA。根和中间密钥会自动生成，中间证书会在过期前自动续签。
							</p>
							<p>
								部署一个实例作为ACME服务器。然后其他Caddy实例可以将其用于其证书。
							</p>
						</div>
						<div>
							<div class="display right">
								{{ markdown (include "/includes/examples/custom-ca.md") }}
							</div>
						</div>
					</div>

					<div class="asides">
						<div>
							<div class="display left">
								{{ markdown (include "/includes/examples/json-automate-certs.md") }}
							</div>
						</div>
						<div>
							<h3 class="green">保持证书续签</h3>
							<p>
								Caddy不仅仅是一个Web服务器。例如，这个配置就是获取和续签一组域名证书所需的全部内容。
							</p>
							<p>
								可以编写其他配置来连接证书维护事件，然后用于与外部脚本和工具集成。
							</p>
						</div>
					</div>

					
				</div>
			</section>

			<section class="light feature">
				<div class="wrapper">
					<h2 id="experts-recommend">专家推荐</h2>
					<p>
						学术和行业专家推荐Caddy，它已在同行评审期刊中被引用，原因在于其安全默认设置、最佳实践以及独特先进的功能集。
					</p>
					<div class="cols experts">
						<div class="col">
							<a href="https://doi.org/10.1145/3319535.3363192"><img src="/resources/images/cites/aas.png" class="cite"></a>
							<p>
								“运行Caddy的服务器几乎普遍部署了HTTPS，并使用现代TLS配置。……我们希望看到其他流行的服务器软件效仿Caddy的领导。”
							</p>
							<p class="cite">
								&mdash;<b>Josh Aas, Richard Barnes, Benton Case, Zakir Durumeric, Peter Eckersley, Alan Flores-López, J. Alex Halderman, Jacob Hoffman-Andrews, James Kasten, Eric Rescorla, Seth Schoen, and Brad Warren.</b> 2019. <i>Let's Encrypt: 加密整个网络的自动化证书颁发机构.</i> 载于《2019年ACM SIGSAC计算机与通信安全会议论文集》（CCS '19）. 美国纽约州纽约市计算机协会，2473–2487. <a href="https://doi.org/10.1145/3319535.3363192">https://doi.org/10.1145/3319535.3363192</a>
							</p>
						</div>
						<div class="col">
							<a href="https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/krombholz"><img src="/resources/images/cites/krombholz.png" class="cite"></a>
							<p>
								“TLS必须默认启用……而Caddy Web服务器是一个良好且可用的例子。”
							</p>
							<p class="cite">
								&mdash;<b>Katharina Krombholz, Wilfried Mayer, Martin Schmiedecker, and Edgar Weippl.</b> 2017. <i>“我完全不知道自己在做什么” - 部署HTTPS的可用性研究.</i> 载于第26届USENIX安全研讨会（USENIX Security 17），USENIX协会，加拿大不列颠哥伦比亚省温哥华，1339-1356. 取自 <a href="https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/krombholz">https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/krombholz</a>
							</p>
						</div>
						<div class="col">
							<a href="https://doi.org/10.1145/2987443.2987480"><img src="/resources/images/cites/springall.png" class="cite"></a>
							<p>
								“没有流行的服务器软件进行[会话票据密钥轮换]，除了Caddy。”
							</p>
							<p class="cite">
								&mdash;<b>Drew Springall, Zakir Durumeric, and J. Alex Halderman.</b> 2016. <i>测量TLS加密捷径的安全危害.</i> 载于《2016年互联网测量会议论文集》（IMC '16），计算机协会，美国加利福尼亚州圣莫尼卡，33-47. <a href="https://doi.org/10.1145/2987443.2987480">https://doi.org/10.1145/2987443.2987480</a>
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="diagonal down dark feature">
				<div class="wrapper">
					<h2 id="reverse-proxy">前瞻性的反向代理</h2>
					<p>
						Caddy的代理设计得尽可能向前兼容，并内置了大量功能：负载均衡、主动和被动健康检查、动态上游、重试、可插拔传输，当然还有一流的TLS安全性。
					</p>


					<div class="asides asides-40-60">
						<div class="spacing">
							<div class="rollover" data-rollover="rollover-php">
								<h3 class="green">代理HTTP、FastCGI、WebSocket等</h3>
								<p>
									能够代理HTTP和HTTPS，还可以代理WebSocket、gRPC、FastCGI（通常是PHP）等！底层传输模块是可扩展的，支持任何自定义生成HTTP响应的方法。
								</p>
							</div>
							<div class="rollover" data-rollover="rollover-dynamic-backends">
								<h3 class="purple">动态后端</h3>
								<p>
									向Caddy提供静态后端列表，或启用模块在每次请求期间动态检索后端：非常适合快速变化的环境。Caddy与您的基础设施一起流动！
								</p>
							</div>
							<div class="rollover" data-rollover="rollover-ha">
								<h3 class="blue">高可用性</h3>
								<p>
									Caddy附带一整套高可用性（HA）功能：高级健康检查、优雅（无中断）配置更改、断路器、负载限制、在线重试等。最棒的是？全部免费。没有企业级付费墙。
								</p>
							</div>
						</div>
						<div>
							<div class="display right dark">
								{{ markdown (include "/includes/examples/proxy.md") }}
							</div>
						</div>
					</div>

					<div class="cols">
						<div class="col">
							<div class="sponsorship-primer">
								<h3>软件<b>保证</b></h3>
								<p>
									没有赞助，Caddy可能随时停止开发。有了赞助，您将安心知道项目将继续开发，并获得私人支持、培训等实际好处。
								</p>
								<a href="/sponsor" class="button purple">查看赞助</a>
							</div>
						</div>
						<div class="col">
							<div class="sponsor-experience stripe">
								<img src="/resources/images/sponsors/stripe.svg" class="experience-logo">
								<div class="experience-content">
									<div class="experience-quote">
										“凭借其可扩展的架构和在线配置API，Caddy为Stripe的许多内部系统提供支持。”
									</div>
								</div>
							</div>
						</div>
					</div>


					<h2 id="file-server">生产级静态文件服务器</h2>
					<p>
						提供静态文件是一种久经考验的方法，可以高效地将网站交付给大量客户端。Caddy拥有强大的文件服务器，可以与其他中间件功能结合，打造终极轻松网站。
					</p>


					<div class="asides asides-40-60">
						<div class="spacing">
							<div class="rollover" data-rollover="rollover-compress">
								<h3 class="blue">压缩</h3>
								<p>
									Caddy可以即时压缩文件或提供预压缩文件以获得额外性能。Caddy也是第一个支持Zstandard编码的Web服务器。
								</p>
							</div>
							<div class="rollover" data-rollover="rollover-vfs">
								<h3 class="green">虚拟文件系统</h3>
								<p>
									从任何地方提供您的静态网站：本地文件系统、远程云存储、数据库，甚至嵌入在服务器二进制文件中！
								</p>
							</div>
							<div class="rollover" data-rollover="rollover-range">
								<h3 class="yellow">范围请求、ETag等</h3>
								<p>
									与许多旨在临时本地开发的临时文件服务器不同，Caddy完全支持范围请求、ETag以及完整的生产功能集。
								</p>
							</div>
							<div class="rollover" data-rollover="rollover-browse">
								<h3 class="purple">目录文件浏览器</h3>
								<p>
									如果请求一个没有索引文件的目录，Caddy可以显示一个优雅的文件浏览器，带有面包屑导航、文件大小可视化、文件类型图标和网格视图。
								</p>
							</div>
						</div>
						<div>
							<div class="display right light">
								{{ markdown (include "/includes/examples/file-server.md") }}
							</div>
						</div>
					</div>

					<div class="cols rollover" data-rollover="rollover-browse">
						<div class="col">
							<img src="/resources/images/file-browser/browse-themes.png" class="gallery">
						</div>
						<div class="col">
							<img src="/resources/images/file-browser/browse-gallery-light.png" class="gallery">
						</div>
					</div>
				</div>
			</section>

			<section class="light feature">
				<div class="wrapper">
					<h2 id="flexible-config">灵活的配置，兼容任何工作流程</h2>
					<p>
						以您的方式配置服务器。Caddy的原生配置格式是JSON，通过Caddy的配置适配器，您可以使用任何您喜欢的配置格式。所有配置都通过RESTful管理API提交，Caddy的CLI帮助您轻松处理配置文件。
					</p>

	
					<div class="asides">
						<div>
							<div class="display left">
								<code class="dark">$ caddy start --config caddy.json

$ curl localhost:2019/id/my_handler \
	-X PATCH \
	-H "Content-Type: application/json" \
	-d '{
			"handler": "static_response",
			"body": "更聪明地工作，而不是更努力。"
		}'

$ curl localhost:2019/config/ | jq<div class="blinking"></div></code>
							</div>
						</div>
						<div>
							<h3>JSON配置API</h3>
							<p>
								Caddy的原生配置是JSON格式，为您提供自动化大规模部署的强大能力和灵活性。
							<p>
								通过提供ACID保证的<a href="/docs/api">直观、可编程的REST API</a>进行动态配置更改。它也是<b>安全作用域的</b>，意味着URI路径限制更改，从而无法意外更改配置的其他部分。
							</p>
						</div>
					</div>


					<div class="asides">
						<div>
							<h3>Caddyfile</h3>
							<p>
								尽管JSON提供了终极控制，但大多数人更喜欢使用<a href="/docs/caddyfile">Caddyfile</a>，因为它只需几行手写代码就能让一个生产就绪的网站运行起来。Caddyfile通常<a href="https://twitter.com/bwesterb/status/1708903488426512668">只有功能较弱的nginx配置大小的约15-25%</a>，这并不罕见。
							</p>
						</div>
						<div>
							<div class="display right light">
								{{ markdown (include "/includes/examples/website-caddyfile.md") }}
								<div class="caption">此站点使用的实际配置。</div>
							</div>
						</div>
					</div>


					<div class="asides">
						<div>
							<div class="display left">
								<code class="dark">$ caddy run \
	--config nginx.conf \
	--adapter nginx<div class="blinking"></div></code>
							</div>
						</div>
						<div>
							<h3>配置适配器</h3>
							<p>
								用任何东西驱动Caddy，甚至包括NGINX配置文件！
							</p>
							<p>
								通过一流的<a href="/docs/config-adapters">配置适配</a>支持，您可以使用您最喜欢的格式配置您的Web服务器：YAML、TOML、CUE、NGINX、HCL、Dhall、带注释的JSON，甚至MySQL数据库……或任何其他格式。Caddyfile是一个内置的配置适配器。
							</p>
						</div>
					</div>
				</div>
			</section>



			<section class="diagonal up light gray feature">
				<div class="wrapper">
					<h2 id="extensibility">无与伦比的可扩展性</h2>
					<p>
						Caddy是世界上唯一拥有新颖模块化架构的服务器。其核心是一个配置管理器，运行诸如HTTP服务器、内部证书颁发机构、TLS证书管理器、进程监控器等应用程序。
					</p>
					<p>
						由于其独特的设计，我们可以提供无限的功能而不会使代码库膨胀。只编译您需要的部分。
					</p>
					<div class="cols">
						<div class="col">
							<h3 class="green"><a href="https://i.giphy.com/media/xUA7ba9aksCuKR9dgA/giphy.webp" target="_blank" title="重要可视化">无限能力</a></h3>
							<p>
								配置中几乎所有“做某事”的部分都是可插拔的。Caddy在如此精简的包中提供了无限的能力。
							</p>
						</div>
						<div class="col">
							<h3 class="purple">原生CPU性能</h3>
							<p>
								没有RPC调用或脆弱的依赖管理。插件被编译到静态二进制文件中，确保部署成功，运行时非常快。
							</p>
						</div>
						<div class="col">
							<h3 class="blue">易于开发</h3>
							<p>
								编写Caddy插件就像编写Go包一样简单。对于任何Go程序员来说，这是一个舒适且熟悉的过程。
							</p>
						</div>
					</div>
				</div>
			</section>


			<section class="frankenphp dark feature">
				<div class="wrapper">
					<div class="asides">
						<div>
							<div class="left">
								<h2 id="extensibility">PHP应用快4倍</h2>
								<p>
									通过<a href="https://frankenphp.dev">FrankenPHP</a>，Caddy充当PHP应用服务器，提供比Swoole或RoadRunner大约<a href="https://blog.laravel.com/octane-frankenphp">快4倍</a>的PHP页面：无需php-fpm（FastCGI）。
								</p>
								<p>
									将您的PHP应用程序作为单个静态二进制文件部署，无需单独安装PHP和php-fpm。带有FrankenPHP的Caddy就是高性能PHP应用所需的一切！
								</p>
								<a href="https://frankenphp.dev" title="FrankenPHP"><img src="/resources/images/frankenphp-logo.svg" alt="FrankenPHP - 现代PHP应用服务器" class="franken-logo"></a>
								<p class="endnote">
									基准测试比较了使用worker模式和Octane的总响应时间。FrankenPHP与服务器内联运行，因此在大多数情况下通常比FPM/mod_php更快。PHP执行速度未加速。
								</p>
							</div>
						</div>
						<img src="/resources/images/frankenphp-dab.svg" class="franken-mascot">
					</div>
					
					<div class="asides">
						<div>
							<div class="display left">
								{{ markdown (include "/includes/examples/frankenphp.md") }}
							</div>
						</div>
						<div>
							<p>
								像这样简单的Caddyfile就可以提供您的PHP应用。PHP解释器完全嵌入在Caddy二进制文件中，您的应用文件将从当前工作目录提供。无需php-fpm或单独的PHP安装！
							</p>
							<p>
								<a href="https://frankenphp.dev" class="franken button">了解更多</a>
							</p>
						</div>
					</div>
				</div>
			</section>


			<section class="diagonal down light feature">
				<div class="wrapper">
					<h2 id="gold-standard"><span class="gold">黄金标准</span> Web服务器</h2>
					<p>
						Caddy拥有市场上最强大的TLS堆栈。具有比OpenSSL（Apache和NGINX）更强的内存安全保证，以及比任何其他服务器或工具更先进的证书自动化逻辑，Caddy在发生问题时保持您的网站在线，而其他服务器……则不能。
					</p>
					<p>
						Caddy是第一个完全自动化公共证书管理的服务器——因此我们比任何人都做得更久。管理着超过5000万个证书，Caddy为其他服务器树立了黄金标准。
					</p>
					<div class="cols">
						<div class="col">
							<h3 class="green">OCSP装订拯救了局面</h3>
							<p>
								Caddy自动装订OCSP响应并缓存以应对中断。2018年，由于关键的OCSP基础设施发生长时间中断，许多流行网站对主流浏览器用户造成访问中断。只有Caddy默认装订和缓存OCSP响应，因此所有Caddy站点未受影响。
							</p>
						</div>
						<div class="col">
							<h3 class="purple">防范撤销</h3>
							<p>
								2020年，一次大规模的证书撤销事件让许多系统管理员争先恐后地提前续签证书。Caddy自动续签被撤销的证书，所有Caddy站点未受影响。（这发生在ARI存在之前。）
							</p>
						</div>
						<div class="col">
							<h3 class="blue">审计中屹立不倒</h3>
							<p>
								公司曾在重要审计前几小时将Caddy部署在其站点前，由于Caddy的安全默认设置和“内置电池”方法，可能挽救了其合规状态。
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="light gray feature">
				<div class="wrapper">
					<h2>相信所有人的话</h2>
					<p>
						我们有偏见。但Caddy因其易用性、安全默认设置、强大的功能集和改变业务的成本降低而受到全球多样化用户群的广泛依赖和赞誉。
					</p>
					<div class="testimonials-container">
						<div class="testimonials">
							<div class="testimonial-col"></div>
							<div class="testimonial-col"></div>
							<div class="testimonial-col"></div>
						</div>
					</div>
				</div>
			</section>
		
		</main>


		{{include "/includes/footer.html"}}


		<template id="tpl-testimonial">
			<div class="testimonial">
				<img class="testimonial-picture">
				<div class="testimonial-content">
					<div class="testimonial-quote">

					</div>
					<a class="testimonial-name" target="_blank">

					</a>
					<div class="testimonial-role">
						<div class="testimonial-role-text"></div>
						<a class="testimonial-org"></a>
					</div>
				</div>
			</div>
		</template>

		<script>
			AsciinemaPlayer.create('/resources/demo.cast', $_('#video-demo'), {
				preload: true,
				autoPlay: true,
				controls: true
			});
		</script>
	</body>
</html>