<!DOCTYPE html>
<html>
	<head>
		<title>赞助 Caddy 项目</title>
		{{import "/includes/head.html"}}
		{{template "head" .}}
		<link rel="stylesheet" href="/resources/css/marketing.css{{template "cacheBust"}}">
		<link rel="stylesheet" href="/resources/css/sponsor.css{{template "cacheBust"}}">
	</head>
	<body>
		<div class="hero">
			{{include "/includes/header.html" "dark-header"}}
			
			<div class="wrapper">
				<div class="hero-content">
					<h1>
						<div class="color-dodge">
							引领您的行业
						</div>
						<div class="subheading">
							开源赞助人<b>引领前进</b>，提供一种<b>可持续的解决方案</b>，既不会牺牲<b>自由</b>，也不会牺牲<b>功能</b>。
						</div>
					</h1>

					<div class="cols">
						<div class="col">
							<h3 class="plain">Caddy 没有付费墙功能</h3>
							<p>
								竞争对手通过出售带有昂贵专有许可的商品化功能来产生利润。<b>只有 Caddy 是 100% 真正的开源，拥有所有功能。</b>由于没有任何专有内容，您比任何企业许可软件都有更多的控制权。
							</p>
							<p class="footnote">
								* Traefik 为 <a href="https://marketplace.redhat.com/en-us/products/traefik-enterprise-edition/pricing" target="_blank">20,000 美元/年</a> 用于 4 个代理。NGINX Plus 起价为 <a href="https://www.nginx.com/pricing/" target="_blank">3,675 美元/年</a> 每实例。
							</p>
						</div>
						<div class="col">
							<h3 class="plain">您不会购买没有支持软件</h3>
							<p>
								那为什么您会依赖没有支持免费软件？开源许可证赋予您自由，但不保证会有帮助。赞助确保您的技术栈获得支持并持续维护。
							</p>
						</div>
						<div class="col">
							<h3 class="plain">赞助使企业和个人都能受益</h3>
							<p>
								通过赞助，我们不必限制功能或实例数。您的企业在更低成本下超出其产品的支持需求，可以无限扩展。技术保持<b>真正</b>开源。每个人都赢。
							</p>
						</div>
					</div>

					<h1>
						<div class="subheading">
							问题？ <a href="mailto:%63%61%64%64%79%40%64%79%61%6e%69%6d%2e%63%6f%6d" class="email">caddy@dya<em>antispam</em>nim<em>.nospam</em>.com</a>
						</div>
					</h1>
				</div>
			</div>

			<section class="transparent feature plans">
				<div class="wrapper">

					<div class="sides">
						<div class="left-side">
							<h2>个人</h2>
							<p>
								无论您是爱好者、专业使用 Caddy，还是只是想支持该项目，个人级别都是为您设计的，让您能够有意义地参与。
							</p>
							<p>
								如果您想要此级别的基本支持，请选择 Pro 级别。
							</p>
						</div>
						<div class="right-side side-flex">
							<div class="indie plan">
								<div class="plan-header">
									<div class="plan-name">
										独立开发者
									</div>
									<div class="plan-price">
										$25<span class="plan-period">/月</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										适合个人开发者，帮助维持项目的持续进展。
									</p>
									<b>福利：</b>
									<ul class="check">
										<li>独家访问 <a href="https://matt.life/expert-caddy/">专家 Caddy</a></li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=9382" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											选择独立开发者
										</a>
									</div>
								</div>
							</div>

							<div class="indie plan">
								<div class="plan-header">
									<div class="plan-name">
										独立开发者 Pro
									</div>
									<div class="plan-price">
										$50<span class="plan-period">/月</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										对于独立专业人士来说，通过电子邮件获得私人支持非常有用。
									</p>
									<b>福利：</b>
									<ul class="check">
										<li>独家访问 <a href="https://matt.life/expert-caddy/">专家 Caddy</a></li>
										<li>偶尔的电子邮件支持</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=21876" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											选择独立开发者 Pro
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>



					<div class="sides">
						<div class="left-side">
							<h2>初创企业</h2>
							<p>
								您正在努力打拼！我们理解。我们支持您的后端。
							</p>
							<p>
								这些级别是所有新业务冒险的必备品。它们为正在有机增长的资源有限的公司提供极高的价值。
							</p>
							<p>
								成熟企业应查看下面的企业级别，以获得更充足的支持和优先响应。
							</p>
						</div>
						<div class="right-side side-flex">

							<div class="startup plan">
								<div class="plan-header">
									<div class="plan-name">
										初创
									</div>
									<div class="plan-price">
										$99<span class="plan-period">/月</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										资源有限的早期初创企业的理想选择。
									</p>
									<b>福利：</b>
									<ul class="check">
										<li>独家访问 <a href="https://matt.life/expert-caddy/">专家 Caddy</a></li>
										<li>偶尔的电子邮件支持</li>
									</ul>
									<b>专业服务：</b>
									<ul class="minus">
										<li>无折扣</li>
										<li class="check">免费上线会议</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=9399" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											选择初创
										</a>
									</div>
								</div>
							</div>

							<div class="startup plan">
								<div class="plan-header">
									<div class="plan-name">
										初创 Pro
									</div>
									<div class="plan-price">
										$249<span class="plan-period">/月</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										如果您想要额外的保证、服务和/或宣传，这是完美选择。
									</p>
									<b>福利：</b>
									<ul class="check">
										<li>独家访问 <a href="https://matt.life/expert-caddy/">专家 Caddy</a></li>
										<li>偶尔的电子邮件支持</li>
										<li>宣传</li>
										<li>优先筛选</li>
									</ul>
									<b>专业服务：</b>
									<ul class="check">
										<li>9 折</li>
										<li>免费上线会议</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=120792" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											选择初创 Pro
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>


					<div class="sides">
						<div class="left-side">
							<h2>企业</h2>
							<p>
								我们的专业赞助适合所有规模依赖于 Caddy 的企业。
							</p>
							<p>
								通过积极赞助，我们可以更高效地响应事件。我们可以优先处理您的功能和补丁。您将更有信心您的 Web 服务器将继续得到维护。
							</p>
							<p>
								Business+ 涵盖更多服务，减少账单，并提供更大的自定义开发折扣。
							</p>
						</div>
						<div class="right-side side-flex">

							<div class="business plan">
								<div class="plan-header">
									<div class="plan-name">
										企业
									</div>
									<div class="plan-price">
										$999<span class="plan-period">/月</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										对于公司内任何使用 Caddy 的情况都是必备计划。
									</p>
									<b>福利：</b>
									<ul class="check">
										<li>您团队所有人独家访问 <a href="https://matt.life/expert-caddy/">专家 Caddy</a></li>
										<li>独家访问私人开发聊天室</li>
										<li>电子邮件支持</li>
										<li>营销</li>
									</ul>
									<b>专业服务：</b>
									<ul class="check">
										<li>8 折（需 6 个月承诺）</li>
										<li>免费上线会议</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=9401" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											选择企业
										</a>
									</div>
								</div>
							</div>

							<div class="business plan">
								<div class="plan-header">
									<div class="plan-name">
										企业+
									</div>
									<div class="plan-price">
										$2,999<span class="plan-period">/月</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										公司内任何严肃使用 Caddy 的必备计划。涵盖支持、补丁和上线。
									</p>
									<b>福利：</b>
									<ul class="check">
										<li>您团队所有人独家访问 <a href="https://matt.life/expert-caddy/">专家 Caddy</a></li>
										<li>独家访问私人开发聊天室</li>
										<li>有限的专用支持（电子邮件、聊天、电话和视频通话）</li>
										<li>营销</li>
										<li>优先筛选</li>
										<li>开发优先</li>
										<li>自定义分支/补丁</li>
									</ul>
									<b>专业服务：</b>
									<ul class="check">
										<li>6.5 折（需 6 个月承诺）</li>
										<li>免费上线会议</li>
										<li>自定义法律文件（额外收费）</li>
										<li>自定义账单和发票</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=120793" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											选择企业+
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>


					<div class="sides">
						<div class="left-side">
							<h2>大型企业</h2>
							<p>
								您有企业需求——我们也有企业解决方案。这是我们要终极支持和开发服务，提供其他开源计划无法提供的安心感。
							</p>
							<p>
								我们建议所有使用 Caddy 的大型企业和组织都应该有一个活跃的计划，可以减轻昂贵的事件，培训相关团队，并提供项目持续维护的保证。
							</p>
							<p>
								<b>Enterprise+ 是唯一保证没有其他赞助人情况下持续开发的计划。</b>
							</p>
							<p>
								⚠️ 库存有限。这些级别可以售罄，以保持现有客户的服务质量。
							</p>
						</div>
						<div class="right-side side-flex">

							<div class="enterprise plan">
								<div class="plan-header">
									<div class="plan-name">
										大型企业
									</div>
									<div class="plan-price">
										$5,900<span class="plan-period">/月</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										这个高级赞助套餐提供大多数组织需要的一切，并可针对您的公司进行定制。
									</p>
									<p>
										⚠️ 仅剩 <del>2</del> <strong>1</strong> 个。
									</p>
									<b>福利：</b>
									<ul class="check">
										<li>您公司所有人独家访问 <a href="https://matt.life/expert-caddy/">专家 Caddy</a></li>
										<li>独家访问私人开发聊天室</li>
										<li>有限的专用支持（电子邮件、聊天、电话和视频通话）</li>
										<li>营销</li>
										<li>优先筛选</li>
										<li>开发优先</li>
										<li>自定义分支/补丁</li>
										<li>保证在 2 个工作日内响应（假期除外）</li>
									</ul>
									<b>专业服务：</b>
									<ul class="check">
										<li>50-100% 折扣（需 6 个月承诺）</li>
										<li>免费上线会议</li>
										<li>自定义法律文件（额外收费）</li>
										<li>自定义账单和发票</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=120794" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											选择大型企业
										</a>
									</div>
								</div>
							</div>

							<div class="enterprise plan">
								<div class="plan-header">
									<div class="plan-name">
										大型企业+
									</div>
									<div class="plan-price">
										$11,900<span class="plan-period">/月</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										支持 Caddy 项目的终极计划，也是唯一不依赖其他赞助人的计划。
									</p>
									<p>
										⚠️ 仅剩 <strong>1</strong> 个名额。
									</p>
									<b>福利：</b>
									<ul class="check">
										<li>您公司所有人独家访问 <a href="https://matt.life/expert-caddy/">专家 Caddy</a></li>
										<li>独家访问私人开发聊天室</li>
										<li>专用支持（电子邮件、聊天、电话和视频通话）</li>
										<li>营销</li>
										<li>最高筛选优先</li>
										<li>最高开发优先</li>
										<li>自定义分支/补丁</li>
										<li>保证在 1 个工作日内响应（假期除外）</li>
										<li>定期会议/站会</li>
										<li>影响项目路线图</li>
										<li>自定义供应链控制</li>
										<li>现场访问</li>
									</ul>
									<b>专业服务：</b>
									<ul class="check">
										<li>✨ <b>包含在内</b>（除值班或极端情况；需 1 年承诺）</li>
										<li>免费上线会议</li>
										<li>自定义法律文件（大部分不额外收费）</li>
										<li>自定义账单和发票</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=334058" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											选择大型企业+
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>



				</div>

				<div class="overlay cards__inner"></div>
			</section>
		</div>


	
		<main>
			<section class="diagonal down dark feature">
				<div class="wrapper">
					<h2>
						赞助解答
					</h2>
					<p>
						我们经常看到在商业环境中随意部署 Web 服务器后的灾难性结果，只在为时已晚时向社区求助，提供的信息太少，无法解决可能需要很长时间才能解决的问题——一个如果得到适当培训和支持本可以缓解的事件。
					</p>
					<p>
						我们对赞助的看法是，Caddy 的所有专业和商业用户都预期投资赞助，就像我们期望树枝为其主干和根部提供营养一样。我们的赞助不仅仅是善意的捐赠。它们为公司提供关键价值，同时维持持续维护。
					</p>
					<p>
						Caddy 的原始作者 Matt Holt 运营 Dyanim, LLC 来维护项目并与全球社区一起指导开发。赞助由 Dyanim, LLC 执行。
					</p>
					<div class="cols">
						<div class="col">
							<h3 class="green">这是软件许可证吗？</h3>
							<p>
								<b>不。</b> 赞助是独立产品，提供个人、组织和公司的支持、开发和服务培训、营销以及各种项目管理功能。无论赞助状态如何，您对软件的许可证保持不变。
							</p>

							<h3 class="blue">什么是专业服务？</h3>
							<p>
								包括任何补充常规项目维护的服务，如上线、培训、演示和自定义开发工作。
							</p>

							<h3 class="purple">我需要上面没有列出的内容。</h3>
							<p>
								没问题——联系我们并告诉我们您需要什么！
							</p>

							<h3 class="green">只有 GitHub 可以支付吗？</h3>
							<p>
								不，我们的高级级别可以接受各种支付方式，如发票、ACH、电汇，甚至物理支票如果需要的话。
							</p>

							<h3 class="blue">我们需要批准新供应商吗？</h3>
							<p>
								不太可能！我们的赞助订阅由 GitHub 管理，而 GitHub 通常已经是大多数企业的批准供应商。
							</p>
						</div>
						<div class="col">
							<h3 class="purple">为什么要赞助？</h3>
							<p>
								专业和商业人士有许多开源许可证无法满足的要求，而更广泛社区有许多专有许可证无法满足的要求。例如，公司需要支持和新功能，但没有业务关系就难以提供或开发。
							</p>
							<p>
								为了弥合这一差距，我们提供赞助，使我们的软件可以保持免费使用，同时为公司提供他们在承诺如此关键的技术选择时需要的保证。
							</p>
							<p>
								我们还有针对个人的较低级别，他们只想支持项目，但没有公司资金。
							</p>
							<p>
								我们的软件很有吸引力，因为赞助使其保持完全开放，没有昂贵、付费独占功能来分割和划分社区。相反，每个在个人实验室或学校项目中运行 Caddy 的人都在使用世界上大型企业部署的相同软件版本。这真的很棒，赞助者使其成为可能。
							</p>

							<h3 class="blue">如果我们落入无法预算的类别怎么办？</h3>
							<p>
								我们会要求您的产品经理为什么他们在没有支持手段的情况下部署软件。话虽如此，例如一家成熟企业，如果只有 Startup 级别的预算，可以注册 Startup 级别赞助；这总比没有安全网要好。然而，您会有更高的满意度，因为有适当的赞助级别，因为我们可以更好地满足您的需求。
							</p>

							<h3 class="purple">可以一次性赞助吗？</h3>
							<p>
								可以！我们称之为捐赠，并怀着感激之情欢迎它们。
							</p>
						</div>
					</div>

				</div>
			</section>

			<section class="light feature">
				<div class="wrapper">
					<h2>
						赞助更好
					</h2>
					<p>
						仅靠开源许可证，公司在项目规模上都无法持续。必须建立某种业务关系来支持公司的运营以及项目的持续发展。
					</p>
					<p>
						通常这是通过收费软件或特定功能、购买保险、聘请顾问或指派内部开发人员学习和维护技术来解决的。
					</p>
					<p>
						赞助提供了一种简单而深刻的解决方案，与替代方案相比有许多优势：
					</p>
					<div class="cols">
						<div class="col">
							<h3 class="green">顾问</h3>
							<p>
								咨询费很高（$250-500/小时），以抵消该职业的可变性，通常按小时计费，对于试图最小化成本的客户来说可能会造成压力。
							</p>
							<p>
								顾问的技能水平各不相同，可能是混合技能集，而不是在相关主题方面的专业知识，例如特定 Web 服务器。您也可能需要在开展业务之前批准他们为供应商。
							</p>
							<p>
								赞助有实惠的固定费率，没有时间硬限制来缓解压力、降低成本。您可以直接访问世界软件专家，并通过已知供应商 GitHub 支付。
							</p>
						</div>
						<div class="col">
							<h3 class="purple">保险</h3>
							<p>
								赞助不是保险——它们不是事故发生时退款，也不能合法归类为任何类型的承保。相反，它们通过综合集成策略帮助减少事件的可能性和规模。我们会了解您的设置，帮助您在最佳方式下部署。
							</p>
							<p>
								与保险合作很繁琐且昂贵，但赞助要容易得多，文件和法律 complication 更少。
							</p>
						</div>
						<div class="col">
							<h3 class="blue">内部招聘</h3>
							<p>
								数学很简单：熟练的内部开发人员薪水可能为每年 180,000 美元。赞助低一或两个数量级，通常每年 3,000-12,000 美元，并让您访问世界专家。
							</p>
							<p>
								赞助绕过人力资源和招聘流程，并且由于能够培训现有员工，您仍然可以将这些知识保留在内部。
							</p>
							<p>
								如果招聘人员离开您的公司，知识往往也会消失。赞助确保技能可以通过人员流动继续存在于您的组织中。
							</p>
						</div>
						<div class="col">
							<h3 class="purple">什么都不做</h3>
							<p>
								不言而喻，<a href="https://words.filippo.io/dispatches/reciprocal/">直接访问您依赖的软件维护者</a> 比没有支持、没有安全网、对项目优先级没有影响力要好。
							</p>
							<p>
								使用开源软件，您只能靠自己。您可以向社区求助，但您不会拥有可以调整维护者优先级的高关注关系。
							</p>
						</div>
					</div>
				</div>
			</section>



			<section class="diagonal up light gray feature">
				<div class="wrapper">
					<h2>
						具体业务成果
					</h2>
					<p>
						赞助帮助您保持竞争优势、降低成本，甚至可能提高客户忠诚度。您将能够满足纯开源下您从未想过可能的要求。
					</p>
					<div class="cols">
						<div class="col">
							<h3 class="purple">软件保证</h3>
							<p>
								这不是保险。<b>它更好</b>。获得安心，知道您的赞助帮助维持项目的持续发展，并且您与维护者有直接联系。
							</p>
						</div>
						<div class="col">
							<h3 class="green">提高客户忠诚度</h3>
							<p>
								客户对公开赞助项目的公司更忠诚，尤其是他们使用的产品。<b>数万人</b> 的 Caddy 用户在您赞助项目时更有可能成为并继续成为您的客户。
							</p>
						</div>
						<div class="col">
							<h3 class="blue">降低成本，提高利润率</h3>
							<p>
								通过 Caddy 赞助提高效率，可以防止咨询费、招聘费用、灾难性生产故障和低效配置。
							</p>
						</div>
					</div>
				</div>
			</section>

		</main>

		{{include "/includes/footer.html"}}

<script>
// 原始悬停发光效果代码从这里开始：
// https://codepen.io/inescodes/pen/PoxMyvX

const cardsContainer = $_(".plans");
const cards = Array.from($$_(".plan"));
const overlay = $_(".overlay");

function applyOverlayMask(e) {
	const overlayEl = e.currentTarget;
	const x = e.pageX - cardsContainer.offsetLeft;
	const y = e.pageY - cardsContainer.offsetTop;
	overlayEl.style = `--opacity: 1; --x: ${x}px; --y:${y}px;`;
}

// 当卡片容器调整大小时，调整所有卡片的大小和位置
const observer = new ResizeObserver(entries => {
	entries.forEach(entry => {
		cards.forEach((cardEl, idx) => {
			overlay.children[idx].style.width = `${cardEl.offsetWidth}px`;
			overlay.children[idx].style.height = `${cardEl.offsetHeight+1}px`; // 不知道为什么需要 +1，但反正...
			overlay.children[idx].style.top = `${cardEl.offsetTop}px`;
			overlay.children[idx].style.left = `${cardEl.offsetLeft}px`;
		});
	});
});
observer.observe(cardsContainer);

function initOverlayCard(cardEl) {
	const overlayCard = document.createElement("div");
	overlayCard.classList = cardEl.classList;
	overlay.append(overlayCard);
}

cards.forEach(initOverlayCard);
cardsContainer.addEventListener("pointermove", applyOverlayMask);
</script>



	</body>
</html>
