<!DOCTYPE html>
<html>
	<head>
		<title>Caddy 帮助与支持</title>
		{{import "/includes/head.html"}}
		{{template "head" .}}
		<link rel="stylesheet" href="/resources/css/marketing.css{{template "cacheBust"}}">
		<link rel="stylesheet" href="/resources/css/support.css{{template "cacheBust"}}">
	</head>
	<body>
		<div class="hero">
			{{include "/includes/header.html" "dark-header"}}
			
			<div class="wrapper">
				<div class="hero-content">
					<h1>
						 支持
					</h1>

						<div class="plans">
							<div class="plan community">
								<div class="plan-title">社区帮助</div>
								<p>
									在我们的论坛中以志愿者的身份参与，在我们的开源社区中免费交流互助。
								</p>
								<p>
									我们欢迎您对社区的贡献，并期待与您见面！
								</p>
								<a href="https://caddy.community" class="button primary">Caddy 论坛</a>
							</div>
							<div class="plan sponsor">
								<div class="plan-title">商业支持</div>
								<p>
									我们通过各种 <a href="/sponsor">赞助层级</a> 为专业人士和企业提供专属支持。
								</p>
								<p>
									赞助者可以通过邮件联系我们获取专家支持：<b><a href="mailto:%63%61%64%64%79%40%64%79%61%6e%69%6d%2e%63%6f%6d" class="email">caddy@dya<em>antispam</em>nim<em>.nospam</em>.com</a></b>
								</p>
								<p>
									更高层级还支持其他形式的服务，如在线聊天和电话/视频通话。
								</p>
								<p>
									根据层级的不同，额外的权益和服务包括：
								</p>
								<ul>
									<li>入门指导</li>
									<li>培训</li>
									<li>演示</li>
									<li>现场支持</li>
									<li>定制补丁和分支</li>
									<li>优先处理</li>
									<li>宣传/营销</li>
								</ul>
								<p>
									我们与服务各种规模的企业和团队合作，从初创公司到大型企业、非营利组织和政府机构。
								</p>
								<a href="/sponsor" class="button purple">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
										<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
										<path d="M12.5 15.5l2 2"></path>
										<path d="M15 13l2 2"></path>
									</svg>
									赞助 Caddy
								</a>
							</div>
						</div>
					</h1>
				</div>
			</div>
		</div>



		{{include "/includes/footer.html"}}
	</body>
</html>
