<!DOCTYPE html>
<html>
	<head>
		<title>创建账户 - Caddy</title>
		{{import "/old/includes/account/head.html"}}
		{{template "account-head"}}
		<script src="/old/resources/js/account/create.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<form action="/api/create-account" class="card">
			<section class="head">
				<a href="/"><img src="/old/resources/images/caddy-lock.png" alt="Caddy Portal" class="logo"></a>
			</section>
			<section>
				<h1>创建账户</h1>
				或 <a href="/account/login">登录</a>
				<div class="form-fields">
					<input type="text" name="name" id="name" placeholder="姓名">
					<input type="email" name="email" id="email" placeholder="邮箱地址" required>
					<input type="password" name="password" placeholder="密码" required>
					<button type="submit" id="submit" class="blue">创建账户</button>
					<p>
						我们将向您发送一封电子邮件以验证您的账户。
					</p>
				</div>
			</section>
		</form>
	</body>
</html>
