<!DOCTYPE html>
<html>
	<head>
		<title>控制面板 - Caddy</title>
		{{import "/old/includes/account/head.html"}}
		{{template "account-head"}}
		<link rel="stylesheet" href="/resources/css/account/dashboard.css{{template "cacheBust"}}">
		<script src="/old/resources/js/account/dashboard.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<div class="container">
			{{include "/old/includes/account/nav.html"}}
			<main class="dashboard">
				<section>
					<h1 class="pad">您的包<a href="/account/register-package" class="gray button float-right">注册包</a></h1>
					<table id="user-packages">
						<tr>
							<th>导入路径</th>
							<th class="text-center"><span class="help" title="包和模块文档是否在网站上可见。">已列出</span></th>
							<th class="text-center"><span class="help" title="访问者是否可以下载嵌入了此包的 Caddy。">可用</span></th>
							<th>下载量</th>
							<th></th>
						</tr>
						<!-- 由 JavaScript 填充 -->
					</table>
					<!-- <div class="text-right pad">
						<a href="/account/register-package" class="gray button">注册包</a>
					</div> -->
				</section>
			</main>
		</div>
	</body>
</html>