<!DOCTYPE html>
<html>
	<head>
		<title>控制面板 - Caddy</title>
		{{import "/old/includes/account/head.html"}}
		{{template "account-head"}}
		<link rel="stylesheet" href="/resources/css/account/dashboard.css{{template "cacheBust"}}">
		<script src="/old/resources/js/account/dashboard.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<div class="container">
			{{include "/old/includes/account/nav.html"}}
			<main class="dashboard">
				<section>
					<h1 class="pad">您的软件包<a href="/account/register-package" class="gray button float-right">注册软件包</a></h1>
					<table id="user-packages">
						<tr>
							<th>导入路径</th>
							<th class="text-center"><span class="help" title="Whether package and module documentation is visible on the website.">列表</span></th>
							<th class="text-center"><span class="help" title="Whether visitors can download Caddy with this package plugged in.">可用</span></th>
							<th>下载量</th>
							<th></th>
						</tr>
						<!-- Filled by JS -->
					</table>
					<!-- <div class="text-right pad">
						<a href="/account/register-package" class="gray button">Register package</a>
					</div> -->
				</section>
			</main>
		</div>
	</body>
</html>
