<!DOCTYPE html>
<html>
	<head>
		<title>登录 - Caddy</title>
		{{import "/old/includes/account/head.html"}}
		{{template "account-head"}}
		<script src="/old/resources/js/account/login.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<form action="/api/login" class="card">
			<section class="head">
				<a href="/"><img src="/old/resources/images/caddy-lock.png" alt="Caddy Portal" class="logo"></a>
			</section>
			<section>
				<h1>登录</h1>
				or <a href="/account/create">创建账户</a>
				<div class="form-fields">
					<input type="email" name="email" id="email" placeholder="邮箱地址" required>
					<input type="password" name="password" placeholder="密码" required>
					<button type="submit" id="submit" class="blue">登录</button>
					<a href="/account/reset-password">重置密码</a>
				</div>
			</section>
		</form>
	</body>
</html>