<!DOCTYPE html>
<html>
	<head>
		<title>注册软件包 - Caddy</title>
		{{import "/old/includes/account/head.html"}}
		{{template "account-head"}}
		<script src="/old/resources/js/account/register-package.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<div class="container">
			{{include "/old/includes/account/nav.html"}}
			<main>
				<section>
					<form action="/api/claim-package">
						<div class="form-fields">
							<div class="field">
								<label>
									<b>软件包导入路径</b>
									<input type="text" name="package" required>
								</label>
								<div class="description">
									您必须使用 <a href="https://github.com/golang/go/wiki/Modules#semantic-import-versioning" target="_blank">语义化导入版本号</a>。基本上，这意味着如果您的模块版本为 v2 或更高，导入路径必须以 <b>/vN</b> 结尾（其中 <b>N</b> 是主版本号）。
								</div>
							</div>
							<div class="field">
								<label>
									<b>版本号</b>
									<input type="text" name="version" placeholder="最新版本">
								</label>
								<div class="description">
									可选。任何被 <a href="https://github.com/golang/go/wiki/Modules#version-selection">Go 模块</a>工具识别的版本字符串均可使用。
								</div>
							</div>
							<div class="text-center">
								<button type="submit" id="submit" class="blue">注册软件包</button>
							</div>
						</div>
					</form>
				</section>
			</main>
		</div>
	</body>
</html>
