<!DOCTYPE html>
<html>
	<head>
		<title>重置密码 - Caddy</title>
		{{import "/old/includes/account/head.html"}}
		{{template "account-head"}}
		<script src="/old/resources/js/account/reset-password.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<form action="/api/reset-password" class="card" id="reset-password-step1">
			<section class="head">
				<a href="/"><img src="/old/resources/images/caddy-lock.png" alt="Caddy Portal" class="logo"></a>
			</section>
			<section>
				<h1>重置密码</h1>
				<a href="javascript:" id="goto-step2">我已经有重置令牌</a>
				<div class="form-fields">
					<input type="email" name="email" id="email-step1" placeholder="邮箱地址" required>
					<button type="submit" id="submit" class="blue">继续</button>
				</div>
			</section>
		</form>
		<form action="/api/reset-password" class="card" id="reset-password-step2">
			<section class="head">
				<a href="/"><img src="/old/resources/images/caddy-lock.png" alt="Caddy Portal" class="logo"></a>
			</section>
			<section>
				<h1>重置密码</h1>
				<a href="javascript:" id="goto-step1">我仍需获取重置令牌</a>
				<div class="form-fields">
					<input type="email" name="email" id="email-step2" placeholder="邮箱地址" required>
					<input type="text" name="token" id="token" placeholder="令牌" required>
					<input type="password" name="password" placeholder="新密码" required>
					<button type="submit" id="submit" class="blue">完成重置</button>
				</div>
			</section>
		</form>
	</body>
</html>
