<!DOCTYPE html>
<html>
	<head>
		<title>确认账户 - Caddy</title>
		{{import "/old/includes/account/head.html"}}
		{{template "account-head"}}
		<script src="/old/resources/js/account/verify.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<form action="/api/verify-account" class="card">
			<section class="head">
				<a href="/"><img src="/old/resources/images/caddy-lock.png" alt="Caddy Portal" class="logo"></a>
			</section>
			<section>
				<h1>确认账户</h1>
				或 <a href="/account/login">登录</a>
				<div class="form-fields">
					<input type="email" name="email" id="email" placeholder="邮箱地址" required>
					<input type="text" name="account_id" placeholder="账户 ID" required>
					<button type="submit" id="submit" class="blue">确认</button>
				</div>
			</section>
		</form>
	</body>
</html>
